{% extends "base.html" %}
{% load tools static humanize %}

{% block menu_app %}
 {% include "menus/menu_cierre.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.cmusaceas" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.cmusaceas" ).addClass( "active" );
</script>
{% endblock extra_js %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "cierre/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">
	                    <div class="row">
	                        <div class="col-md-12 col-sm-12">
	                            <ul class="list-inline mb-20">
	                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{numero_parcelas}}</kbd></li>
	                                <li class="list-inline-item"><strong>Area total en Mz: </strong> <kbd>{{area_total|floatformat:2}}</kbd></li>
	                                <li class="list-inline-item"><strong>Promedio de Valor de mano de obra por día en C$: </strong><kbd>{{promedio_mo_dia|floatformat:2}}</kbd></li>
	                            </ul>
	                        </div>
	                    </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>RENTABILIDAD CONSOLIDADO MUSACEAS
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export1'); return false;">
                                                <i class="icon-cloud-download"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="portlet-body flip-scroll my-custom-scrollbar" id="export1">
                                        <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Actvidades</th>
							                        <th>Uso de mano de obra familiar durante el ciclo (DP)</th>
							                        <th>Uso de mano de obra contratada durante el ciclo (DP)</th>
							                        <th>Uso de mano de obra temporal durante el ciclo (DP)</th>
							                        <th>Costo de insumos en USD durante el ciclo </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {%for k,v in tabla_costo_musaceas.items%}
                                            <tr>
                                                <td>{{k}}</td>
					                            <td>{{v.0|floatformat:2}}</td>
					                            <td>{{v.1|floatformat:2}}</td>
					                            <td>{{v.3|floatformat:2}}</td>
					                            <td>{{v.2|floatformat:2}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
						                        <td>Total uso mano de obra</td>
						                        <td>{{total_costo_mo_familiar|floatformat:2}}</td>
						                        <td>{{total_costo_mo_contratada|floatformat:2}}</td>
						                        <td>{{total_costo_mo_temporal|floatformat:2}}</td>
						                        <td>{{total_costo_insumos|floatformat:2}}</td>
						                    </tr>
						                    <tr>
						                        <td>Totales C$</td>
						                        <td>{{total_costo_mo_familiar|calcular_multiplicacion:promedio_mo_dia|intcomma}}</td>
						                        <td>{{total_costo_mo_contratada|calcular_multiplicacion:promedio_mo_dia|intcomma}}</td>
						                        <td>{{total_costo_mo_temporal|calcular_multiplicacion:promedio_mo_dia|intcomma}}</td>
						                        <td>{{total_costo_insumos|floatformat:2|intcomma}}</td>
						                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>COSECHA CONSOLIDADA MUSACEAS
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export1'); return false;">
                                                <i class="icon-cloud-download"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="portlet-body flip-scroll my-custom-scrollbar" id="export1">
                                        <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Productos</th>
                                                    <th>Cantidad producidas durante el ciclo en Cabeza</th>
                                                    <th>Promedio precio de productos en C$/Cabeza</th>
                                                    <th>Valor de la cosecha en C$</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {%for k,v in tabla_cosecha_musaceas.items%}
                                            <tr>
                                                <tr>
                                                    <td>{{k}}</td>
                                                    <td>{{v.0}}</td>
                                                    <td>{{v.1|floatformat:2}}</td>
                                                    <td>{{v.2|floatformat:2|intcomma}}</td>
                                                </tr>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>Total</td>
                                                <td>---</td>
                                                <td>---</td>
                                                <td>{{suma_coseha|floatformat:2|intcomma}}</td>
                                            </tr>
						                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>COSTO-BENEFICIO MUSACEAS
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export3'); return false;">
                                                <i class="icon-cloud-download"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="portlet-body flip-scroll my-custom-scrollbar" id="export3">
                                        <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Datos</th>
							                        <th>Unidad</th>
							                        <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	<tr>
							                        <td>Número de parcelas</td>
							                        <td>Número</td>
							                        <td>{{numero_parcelas}}</td>
							                    </tr>
							                    <tr>
							                        <td>Área total</td>
							                        <td>Mz</td>
							                        <td>{{area_total|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Promedio valor de MO</td>
							                        <td>C$/día</td>
							                        <td>{{promedio_mo_dia|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Suma de MO familiar</td>
							                        <td>DP</td>
							                        <td>{{total_costo_mo_familiar|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Suma de MO Permanente Contratado</td>
							                        <td>DP</td>
							                        <td>{{total_costo_mo_contratada|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Suma de MO Temporal Contratado</td>
							                        <td>DP</td>
							                        <td>{{total_costo_mo_temporal|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Valor de MO familiar</td>
							                        <td>C$</td>
							                        <td>{{valor_mo_familiar|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Valor de MO Permanente contratado</td>
							                        <td>C$</td>
							                        <td>{{valor_mo_contratada|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Valor de MO Temporal contratado</td>
							                        <td>C$</td>
							                        <td>{{valor_mo_temporal|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Valor de insumos</td>
							                        <td>C$</td>
							                        <td>{{total_costo_insumos|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Costo total de producción</td>
							                        <td>C$</td>
							                        <td>{{costo_total_produccion|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Producción de musaceas</td>
							                        <td>Cabeza</td>
							                        <td>{{prod_musaceas|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Productividad de musaceas</td>
							                        <td>Cabeza/Mz</td>
							                        <td>{{productividad_musaceas|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Costo de producción unitario</td>
							                        <td>C$/Cabeza</td>
							                        <td>{{costo_prod_unitario|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Ingreso bruto</td>
							                        <td>C$</td>
							                        <td>{{suma_coseha|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Ingreso neto</td>
							                        <td>C$</td>
							                        <td>{{ingreso_neto|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Ingreso neto/Mz</td>
							                        <td>C$/Mz</td>
							                        <td>{{ingreso_neto_ha|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Tasa de retorno</td>
							                        <td>%</td>
							                        <td>{{tasa_retorno|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Ingreso neto parcial</td>
							                        <td>C$</td>
							                        <td>{{ingreso_neto_parcial|floatformat:2|intcomma}}</td>
							                    </tr>
							                    <tr>
							                        <td>Valor agregado de MO familiar</td>
							                        <td>C$/DP</td>
							                        <td>{{valor_agregado_mo_familiar|floatformat:2|intcomma}}</td>
							                    </tr>               
						                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
