{% extends "base.html" %}
{% load tools static humanize %}

{% block menu_app %}
 {% include "menus/menu_cierre.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.cfinca" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.cfinca" ).addClass( "active" );
</script>
{% endblock extra_js %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "cierre/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">
	                    <div class="row">
	                        <div class="col-md-12 col-sm-12">
	                            <ul class="list-inline mb-20">
	                                <li class="list-inline-item"><strong>Número de fincas: </strong> <kbd>{{numero_parcelas}}</kbd></li>
	                                <li class="list-inline-item"><strong>Area total en Mz: </strong> <kbd>{{area_total|floatformat:2}}</kbd></li>
	                                
	                            </ul>
	                        </div>
	                    </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>INGRESOS FINCA
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export1'); return false;">
                                                <i class="icon-cloud-download"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="portlet-body flip-scroll my-custom-scrollbar" id="export1">
                                        <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Productos</th>
                                                    <th>Conteo</th>
                                                    <th>%</th>
							                        <th>Producción total</th>
							                        <th>Venta total</th>
							                        <th>Unidad</th>
							                        <th>Precio/unidad promedio</th>
							                        <th>Ingreso total</th>
							                        <th>Intreso venta</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {%for k,v in tabla_fincas.items%}
                                            <tr>
                                                <td>{{k}}</td>
                                                <td>{{v.6}}</td>
                                                <td>{{v.6|calcular_porcentaje:num_familias}}</td>
					                            <td>{{v.0|floatformat:2}}</td>
					                            <td>{{v.1|floatformat:2}}</td>
					                            <td>{{v.2}}</td>
					                            <td>{{v.3|floatformat:2}}</td>
					                            <td>{{v.4|floatformat:2|intcomma}}</td>
					                            <td>{{v.5|floatformat:2|intcomma}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
						                        <td><b>Ingreso total</b></td>
                                                <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>{{total_ingreso|floatformat:2|intcomma}}</td>
						                        <td>{{total_venta|floatformat:2|intcomma}}</td>
						                    </tr>
						                    <tr>
						                        <td><b>Ingreso/Finca</b></td>
                                                <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>{{parcela_ingreso|floatformat:2|intcomma}}</td>
						                        <td>{{parcela_venta|floatformat:2|intcomma}}</td>
						                    </tr>
						                    <!--<tr>
						                        <td><b>Ingreso/Mz</b></td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>---</td>
						                        <td>{{manzana_ingreso|floatformat:2|intcomma}}</td>
						                        <td>{{manzana_venta|floatformat:2|intcomma}}</td>
						                    </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-list"></i>DESTINO FINCA
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export2'); return false;">
                                                <i class="icon-cloud-download"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="portlet-body flip-scroll my-custom-scrollbar" id="export2">
                                        <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Productos</th>
                                                    <th>Total</th>
                                                    <th>Intermediario</th>
                                                    <th>Cooperativa</th>
                                                    <th>Asociación</th>
                                                    <th>Empresa</th>
                                                    <th>Autoconsumo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {%for k,v in tabla_destino.items%}
                                            <tr>
                                                <td>{{k}}</td>
                                                <td>{{v.0}}</td>
                                                <td>{{v.1}}</td>
                                                <td>{{v.2}}</td>
                                                <td>{{v.3}}</td>
                                                <td>{{v.4}}</td>
                                                <td>{{v.5}}</td>
                                                <td>{{v.6}}</td>
                                            </tr>
                                            {% endfor %}
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
