<div class="btn-group btn-theme-panel">
	<a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-bars"></i> Indicadores
	</a>
	<div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Indicadores</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color general">
                                <a href="#">Sombra</a>
                            </li>
                            <li class="theme-color tierra">
                                <a href="#">Poda</a>
                            </li>
                            <li class="theme-color propiedad">
                                <a href="#">Suelo</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color ingresos">
                                <a href="#">Plaga</a>
                            </li>
                            <li class="theme-color inventario">
                                <a href="#">Piso</a>
                            </li>
                            <li class="theme-color evaluacion">
                                <a href="#">Vivero</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color agroecologicas">
                                <a href="#">Cosecha</a>
                            </li>
                            <li class="theme-color comercializacion">
                                <a href="#">Costo cacao</a>
                            </li>
                            <li class="theme-color conocimientos">
                                <a href="#">Costo musaceas</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color mitigacion">
                                <a href="#">Costo musaceas</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
