
<div class="portlet-title tabbable-line">

	<ul class="nav nav-tabs ind-link">
		<li class="beneficiarios general">
			<a href="/cierre/beneficiario_cierre/">Beneficiarios</a>
		</li>
		<li class="sombra active">
			<a href="/cierre/sombra/">Sombra</a>
		</li>
		<li class="poda">
			<a href="/cierre/poda/">Poda</a>
		</li>
		<li class="suelo">
			<a href="/cierre/suelo/">Suelo y fertilidad</a>
		</li>
		<li class="plaga">
			<a href="/cierre/plaga/">Plaga</a>
		</li>
		<li class="piso">
			<a href="/cierre/piso/">Piso</a>
		</li>
		<li class="vivero">
			<a href="/cierre/vivero/">Vivero</a>
		</li>
		<li class="cosecha">
			<a href="/cierre/cosecha/">Cosecha</a>
		</li>
		<li class="trabajo">
			<a href="/cierre/trabajo/">Ciclo trabajo</a>
		</li>
		<li class="ccacao">
			<a href="/cierre/costo_cacao/">Rentabilidad cacao</a>
		</li>
		<li class="cmusaceas">
			<a href="/cierre/costo_musaceas/">Rentabilidad musaceas</a>
		</li>
		<li class="cfrutales">
			<a href="/cierre/costo_frutales/">Rentabilidad frutales</a>
		</li>
		<li class="cmaderables">
			<a href="/cierre/costo_maderables/">Rentabilidad maderables</a>
		</li>
		<li class="cservicios">
			<a href="/cierre/costo_arboles/">Rentabilidad a. servicios</a>
		</li>
		<li class="cparcela">
			<a href="/cierre/costo_parcela/">Ingreso parcela</a>
		</li>
		<li class="cfinca">
			<a href="/cierre/costo_finca/">Ingreso finca</a>
		</li>
	</ul>
</div>
