{% extends "base.html" %}
{% load tools static %}

{% block menu_app %}
 {% include "menus/menu_cierre.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.poda" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.poda" ).addClass( "active" );
</script>

<script type="text/javascript">
Highcharts.chart('grafo1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Observación que impacto'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Frecuencia (%)'
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in impacto_poda.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:numero_parcelas}},],
        },
        {% endfor %}
    ],
});
Highcharts.chart('grafo2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Acciones planificadas'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Frecuencia (%)'
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in planificada_poda.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:numero_parcelas}},],
        },
        {% endfor %}
    ],
});
Highcharts.chart('grafo3', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Acciones realizadas'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Frecuencia (%)'
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in realizada_poda.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:numero_parcelas}},],
        },
        {% endfor %}
    ],
});
Highcharts.chart('grafo4', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Resultados obtenidos'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Frecuencia (%)'
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in resultado_poda.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:numero_parcelas}},],
        },
        {% endfor %}
    ],
});
</script>
{% endblock extra_js %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "cierre/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">Gráfico obsevación que impacto</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class='grafico-ind' id="grafo1" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">Gráfico acciones planificadas</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="grafo2" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">Gráfico Acciones realizadas</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class='grafico-ind' id="grafo3" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">Gráfico resultados obtenidos</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="grafo4" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
