{% extends "base.html" %}
{% load tools static %}

{% block menu_app %}
 {% include "menus/menu_cierre.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.trabajo" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.trabajo" ).addClass( "active" );
</script>

<script type="text/javascript">
Highcharts.chart('grafo1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_1.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('grafo2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_2.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('grafo3', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_3.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('grafo4', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_4.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('grafo5', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_5.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('grafo6', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_6.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('grafo7', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_7.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('grafo8', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in pie_8.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });
</script>
{% endblock extra_js %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "cierre/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "cierre/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿LAS VISITAS QUE HEMOS REALIZADO, CÓMO LAS VALORA PARA APRENDER NUEVAS COSAS?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class='grafico-ind' id="grafo1" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿LAS VISITAS QUE HEMOS REALIZADO CÓMO LAS VALORA EN LA OBSERVACIÓN SOBRE DIFERENTES ASPECTOS DE LA PARCELA DE CACAO?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="grafo2" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿LAS OBSERVACIONES Y DISCUSIONES CÓMO VALORA SU UTILIDAD PARA MEJORAR EL MANEJO DE LA PARCELA DE CACAO?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class='grafico-ind' id="grafo3" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿HAN PODIDO IMPLEMENTAR LAS ACCIONES QUE SE ACORDARON A PARTIR DE LAS VISITAS?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="grafo4" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿QUÉ PIENSA SOBRE LA FRECUENCIA DE LAS VISITAS?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class='grafico-ind' id="grafo5" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿QUÉ PIENSA SOBRE EL TIEMPO QUE DURA CADA VISITA?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="grafo6" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿QUIERE SEGUIR TRABAJANDO CON LAS VISITAS PARA EL SEGUNDO CICLO?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class='grafico-ind' id="grafo7" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿ESTARÍA USTED INTERESADO ORGANIZAR UN DÍA DE CAMPO EN SU FINCA PARA QUE OTRAS Y OTROS PRODUCTORES VENGAN A VISITAR LA PARCELA?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="grafo8" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
