<div class="hor-menu">
    <ul class="nav navbar-nav">
        <li class="iniciom" >
            <a href="/">Inicio</a>
        </li>
        <li class="inicio" >
            <a href="/panel/linea-base/">Dashboard</a>
        </li>
        <li  class="consulta">
            <a href="/consulta/">Consultar datos</a>
        </li>
        <li  class="mapa">
            <a href="/mapa/">Mapa</a>
        </li>
        <li  class="cooperativa">
            <a href="/cooperativas/">Cooperativas</a>
        </li>
        <li  class="salida25x25">
            <a href="/valoracion/salida/">Inventario 25x25</a>
        </li>
    </ul>
</div>	