<div class="hor-menu">
    <ul class="nav navbar-nav">
        <li class="iniciom" >
            <a href="/">Inicio</a>
        </li>
        <li class="inicio" >
            <a href="/cierre/panel/">Dashboard</a>
        </li>
        <li  class="consulta">
            <a href="/cierre/consulta-cierre/">Consultar datos</a>
        </li>
        
    </ul>
</div>	