{% extends "base.html" %}

{% load static tools humanize %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<style type="text/css">
    .badge {
        font-size: 16px !important;
        height: 23px !important;
    }
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Comercialización</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                            <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Historias de producción cacaoteras
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Años</th>
                                                            <th>Número de familias</th>
                                                            <th>ÁREA TOTAL DE CACAO MZ</th>
                                                            <th>ÁREA DE CACAO EN DESARROLLO MZ</th>
                                                            <th>ÁREA DE CACAO EN PRODUCCIÓN MZ</th>
                                                            <th>PRODUCCIÓN TOTAL DE CACAO QQ SECO</th>
                                                            <th>PRODUCTIVIDAD EN (QQ SECO/MZ)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_areas.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:'0'}}</td>
                                                            <td>{{v.1|default:'0'|floatformat:2}}</td>
                                                            <td>{{v.2|default:'0'|floatformat:2}}</td>
                                                            <td>{{v.3|default:'0'|floatformat:2}}</td>
                                                            <td>{{v.4|default:'0'|floatformat:2}}</td>
                                                            <td>{{v.5|default:'0'|floatformat:2}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Comercialización</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>La comercialización <span class="badge badge-success">(Familias que producen cacao cualquier tipo {{familias_totales}})</span>
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th colspan="2">Intermediario</th>
                                                        <th colspan="2">Cooperativa o asociacion</th>
                                                        <th></th>
                                                      </tr>
                                                      <tr>
                                                        <th></th>
                                                        <th>Números de familias</th>
                                                        <th>Cantidad en qq Total</th>
                                                        <th>Cantidad en qq</th>
                                                        <th>Precio pagado en C$ por qq</th>
                                                        <th>Cantidad en qq</th>
                                                        <th>Precio pagado en C$ por qq</th>
                                                        <th>Ingresos en C$</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for k,v in tabla_comercializacion.items %}
                                                      <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.1|floatformat:2|default:0}}</td>
                                                        <td>{{v.2|floatformat:2|default:0}}</td>
                                                        <td>{{v.3|floatformat:2|default:0}}</td>
                                                       <td>{{v.4|floatformat:2|default:0}}</td>
                                                       <td>{{v.5|floatformat:2|default:0}}</td>
                                                       <td>{{v.6|floatformat:2|default:0}}</td>
                                                      </tr>
                                                       {% endfor %}
                                                       <tr>
                                                           <td colspan="7">Ingreso total anual de las familias por venta de cacao en C$ el último ciclo</td>
                                                           <td>{{ingreso_total|floatformat:2|intcomma}}</td>
                                                       </tr>
                                                        <tr>
                                                           <td colspan="7">Número total de las familias con cacao en producción</td>
                                                           <td>{{familias_totales}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td colspan="7">Área total de Cacao en producción en último ciclo en mz</td>
                                                           <td>{{area_total|floatformat:2}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td colspan="7">Promedio ingreso bruto anual por familia por venta de cacao C$ en último ciclo</td>
                                                           <td>{{ingreso_total|calcular_promedio:familias_totales|floatformat:2|intcomma}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td colspan="7">Promedio Ingreso bruto anual por mz por venta de cacao en C$</td>
                                                           <td>{{promedio_ingreso_anual|floatformat:2|intcomma}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td colspan="7">Promedio Ingreso neto anual por mz por venta de cacao en C$ (40% de ingreso bruto)</td>
                                                           <td>{{promedio_ingreso_neto|floatformat:2}}</td>
                                                       </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption text-center">
                                            SALIDAS COSECHA
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿ESTÁ CERTIFICADO LOS CACAOTALES?</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="container-certificado" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-globe font-dark hide"></i>
                                            <span class="caption-subject font-green-steel bold uppercase">¿QUÉ TIPO DE CERTIFICACIÓN?</span>
                                        </div>
                                    </div>

                                    <div class="portlet-body">
                                        <div class="map">
                                            <div class="grafico-ind" id="container-tipo-certificado" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cómo realizaron los cortes?</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Separan diferentes tipos de mazorcas?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cómo quiebran las mazorcas?</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container4" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Conoce la calidad de su cacao?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container5" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Reciben un sobre precio para su cacao?</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container6" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cuánto por qq baba?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <span class="badge badge-success"> C$ {{promedio_precio|floatformat:4}} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
Highcharts.chart('container-certificado', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_certificado.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container-tipo-certificado', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_tipo_certificado.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Opciones de cadenas'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_cadena.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_cortes.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('container3', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_mazorca.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container4', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_quiebran.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('container5', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_calidad.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container6', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_precio.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.comercializacion" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.comercializacion" ).addClass( "active" );
</script>
{% endblock extra_js %}
