{% extends "base.html" %}

{% load static tools %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Composición</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Composición del grupo Familiar
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                             <th>Promedio adultos varones (más de 30)</th>
                                                            <th>Promedio adultas mujeres (más de 30)</th>
                                                            <th>Promedio jóvenes varones (17-30 años)</th>
                                                            <th>Promedio jóvenes mujeres (17-30 años)</th>
                                                            <th>Promedio adolecentes varones (11-16 años)</th>
                                                            <th>Promedio adolecentes mujeres (11-16 años)</th>
                                                            <th>Promedio niños (1-10 años)</th>
                                                            <th>Promedio niñas (1-10 años)</th>
                                                            <th>Promedio miembros total</th>
                                                            <th>Tasa de dependencia</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <td>{{conteo_adultos_varones|floatformat:2}}</td>
                                                    <td>{{conteo_adultos_mujeres|floatformat:2}}</td>
                                                    <td>{{conteo_varones_jovenes|floatformat:2}}</td>
                                                    <td>{{conteo_mujeres_jovenes|floatformat:2}}</td>
                                                    <td>{{conteo_adolecentes_varones|floatformat:2}}</td>
                                                    <td>{{conteo_adolecentes_mujeres|floatformat:2}}</td>
                                                    <td>{{conteo_ninos|floatformat:2}}</td>
                                                    <td>{{conteo_ninas|floatformat:2}}</td>
                                                    <td>{{total_familias|floatformat:2}}</td>
                                                    <td>{{dependencia|floatformat:2}}</td>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Escolaridad</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="escolaridad" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Legalidad de la tierra</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="legalidad" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Disponibilidad de Energia</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="energia" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Disponibilidad de agua en la finca</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="agua" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
Highcharts.chart('escolaridad', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Nivel de educación'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in grafo_educacion.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('legalidad', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Legalidad de la propiedad'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in grafo_legalidad.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('energia', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Disponibilidad de Energia en la Finca'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in grafo_energia.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('agua', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Disponibilidad de Agua en la Finca'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in grafo_agua.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias}},],
        },
        {% endfor %}
    ],
});

</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.general" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.general" ).addClass( "active" );
</script>
{% endblock extra_js %}
