{% extends "base.html" %}

{% load static tools %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Conocimientos</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Niveles de conocimientos
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Temas</th>
                                                            <th>Número de familias</th>
                                                            <th>Pobre</th>
                                                            <th>Algo</th>
                                                            <th>Regular</th>
                                                            <th>Bueno</th>
                                                            <th>Excelente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                   {% for k,v in tabla_conocimiento.items %}
                                                      <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{num_familias}}</td>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.1}}</td>
                                                       <td>{{v.2}}</td>
                                                       <td>{{v.3}}</td>
                                                       <td>{{v.4}}</td>
                                                      </tr>
                                                       {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Niveles de habilidades
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Temas</th>
                                                            <th>Número de familias</th>
                                                            <th>Pobre</th>
                                                            <th>Algo</th>
                                                            <th>Regular</th>
                                                            <th>Bueno</th>
                                                            <th>Excelente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                   {% for k,v in tabla_habilidad.items %}
                                                      <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{num_familias}}</td>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.1}}</td>
                                                       <td>{{v.2}}</td>
                                                       <td>{{v.3}}</td>
                                                       <td>{{v.4}}</td>
                                                      </tr>
                                                       {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.conocimientos" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.conocimientos" ).addClass( "active" );
</script>
{% endblock extra_js %}
