{% extends "base.html" %}

{% load static %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block extra_head %}
<link href="/static/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block content %}
<style type="text/css">
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.indicadores a{
    margin: 1px 15px 1px 1px;
}
</style>
    <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    <!-- BEGIN PAGE TITLE -->
                                    <div class="page-title">
                                        <h1>Consulta
                                            <!-- <small>dashboard & statistics</small> -->
                                        </h1>
                                    </div>
                                    <!-- END PAGE TITLE -->
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/">Inicio</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            <span>Consulta</span>
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                    <!-- BEGIN PAGE CONTENT INNER -->
                                    <div class="page-content-inner">
                                        <div class="mt-content-body">
                                            <div class="row justify-content-md-center">
                                                {% if centinela == 1 %}
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <!-- BEGIN SAMPLE FORM PORTLET-->
                                                        <div class="portlet box blue ">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class="icon-settings"></i>
                                                                    <span class="caption-subject sbold uppercase">Consulta</span>
                                                                </div>

                                                            </div>
                                                            <div class="portlet-body form">

                                                                <form class="form-horizontal" role="form">
                                                                    <div class="form-body">
                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-sm-8">
                                                                                <ul class="list-line list-filtro">
                                                                                    {% if request.session.fecha %}
                                                                                        <li>
                                                                                            <i class="fa fa-calendar"></i>
                                                                                            <b>Fecha:</b> {{request.session.fecha}}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.sexo %}
                                                                                        <li>
                                                                                            <i class="fa fa-venus-mars"></i>
                                                                                            {% if request.session.sexo == '1' %}
                                                                                                <b>Sexo:</b> Mujeres
                                                                                            {% elif request.session.sexo == '2' %}
                                                                                                <b>Sexo:</b> Hombres
                                                                                            {% endif %}
                                                                                        </li>
                                                                                    {% else %}
                                                                                    <li>
                                                                                        <i class="fa fa-venus-mars"></i>
                                                                                        <b>Sexo:</b> Ambos
                                                                                    </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.departamento %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Departamentos:</b> {{request.session.departamento}}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.municipio %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Municipios:</b> {{request.session.municipio}}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.comunidad %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Comunidades:</b>{{request.session.comunidad}}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.cooperativa %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Cooperativas:</b>{{request.session.cooperativa}}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                    {% if request.session.tecnico %}
                                                                                        <li>
                                                                                            <i class="fa fa-map-marker"></i>
                                                                                            <b>Tecnico:</b>{{request.session.tecnico}}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                </ul>
                                                                            </div>
                                                                            <div class="col-xs-12 col-sm-4">
                                                                                <ul class="list-line list-filtro">
                                                                                    <li>
                                                                                        <i class="fa fa-filter"></i>
                                                                                        <b>Familias:</b> {{conteo_encuesta}}
                                                                                    </li>
                                                                                </ul>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- END SAMPLE FORM PORTLET-->

                                                    </div>

                                                    <div class="col-md-8 col-md-offset-2">
                                                        <!-- BEGIN SAMPLE FORM PORTLET-->
                                                        <div class="portlet box blue ">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class="icon-settings"></i>
                                                                    <span class="caption-subject sbold uppercase">Consulta por indicadores</span>
                                                                </div>

                                                            </div>
                                                            <div class="portlet-body form">

                                                                    <div class="form-body">
                                                                        <div class="btn-group indicadores">
                                                                            
                                                                                <a href="/beneficiarios/" class="btn btn-default separar">Beneficiarios</a>
                                                                            
                                                                            <a href="/composicion/" class="btn btn-default separar">Familia</a>
                                                                            <a href="/tierra/" class="btn btn-default separar">Tierra</a>
                                                                            <a href="/trabajo/" class="btn btn-default separar">Trabajo</a>
                                                                            <a href="/ingresos/" class="btn btn-default separar">Producción en las fincas</a>
                                                                            <a href="/inventario/" class="btn btn-default separar">Inventarios</a>
                                                                            <a href="/evaluacion/" class="btn btn-default separar ">Auto Evaluación</a>
                                                                            <a href="/agroecologica/" class="btn btn-default separar ">Op. agroecológicas</a>
                                                                            <a href="/comercializacion/" class="btn btn-default separar ">Producción cacao</a>
                                                                            <a href="/conocimientos/" class="btn btn-default separar ">Conocimientos</a>
                                                                            <a href="/mitigacion/" class="btn btn-default separar">Mitigación</a>
                                                                        </div>

                                                                    </div>


                                                            </div>
                                                        </div>
                                                        <!-- END SAMPLE FORM PORTLET-->

                                                    </div>

                                                {% else %}
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <div class="portlet box blue ">
                                                            <div class="portlet-title">
                                                                <div class="caption">
                                                                    <i class="icon-settings"></i>
                                                                    <span class="caption-subject sbold uppercase">Formulario Consulta Linea base productores</span>
                                                                </div>

                                                            </div>
                                                            <div class="portlet-body form">
                                                                <form class="form-horizontal" action="." method="post" role="form">{% csrf_token %}
                                                                    <div class="form-body">
                                                                        <div class="row">
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Fecha</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.fecha}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Departamento</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.departamento}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">

                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Municipio</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.municipio}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Comunidad / Comarca</label>
                                                                                    <div class="col-md-8">
                                                                                        {{form.comunidad}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Sexo</label>
                                                                                    <div class="col-md-8">
                                                                                        <div class="mt-radio-inline">
                                                                                            {{form.sexo}}
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Productor</label>
                                                                                    <div class="col-md-8">
                                                                                        <div class="mt-radio-inline">
                                                                                            {{form.productor}}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Cooperativas</label>
                                                                                    <div class="col-md-8">
                                                                                        <div class="mt-radio-inline">
                                                                                            {{form.cooperativa}}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <label class="col-md-4 control-label">Tecnico</label>
                                                                                    <div class="col-md-8">
                                                                                        <div class="mt-radio-inline">
                                                                                            {{form.tecnico}}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                    <div class="form-actions right1">
                                                                        <button type="button" class="btn default">Cancelar</button>
                                                                        <input type="submit" name="consulta" value="Consultar" class="btn green">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- END PAGE CONTENT INNER -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
{% endblock content %}

{% block extra_js %}
<link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>

<!-- js multiselect -->
<link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript">

$("#id_productor").autocomplete({
    source: '{% url "productor-search"%}',
    minLength: 2,
  });

$("#id_departamento").change(function () {
      var url = '/ajax/load-municipios/'
      var departamentoId = $("#id_departamento").val();

    $.ajax({
        url: url,
        data: {
          'departamento': departamentoId
        },
        success: function (data) {
          $("#id_municipio").html(data);
        }
    });
 });

$("#id_municipio").change(function () {
      var url = '/ajax/load-comunidad/'
      var municipioId = $("#id_municipio").val();

    $.ajax({
        url: url,
        data: {
          'municipio': municipioId
        },
        success: function (data) {
          $("#id_comunidad").html(data);
        }
    });
 });
// $(document).ready(function() {
//     $('select').addClass('form-control');

//     $('#id_sexo li label').addClass('mt-radio');

//     $( "#id_sexo li label" ).append( "<span></span>" );

//     $("#id_departamento").addClass("form-control").multiselect({
//             buttonWidth: '100%',
//             includeSelectAllOption: true,
//             selectAllText: "Seleccionar todos",
//             buttonText: function(options, select) {
//               if (options.length === 0) {
//                 return "Sin selección ...";
//               }
//               else if (options.length > 3) {
//                 return "Varias opciones seleccionadas!";
//               }
//               else {
//                 var labels = [];
//                 options.each(function() {
//                   if ($(this).attr('label') !== undefined) {
//                     labels.push($(this).attr('label'));
//                   }
//                   else {
//                     labels.push($(this).html());
//                   }
//                 });
//                 return labels.join(', ') + '';
//               }
//             }
//           });

//     $("#id_municipio").addClass("form-control").multiselect({
//       buttonWidth: '100%',
//       includeSelectAllOption: true,
//       selectAllText: "Seleccionar todos",
//       buttonText: function(options, select) {
//         if (options.length === 0) {
//           return "Sin selección ...";
//         }
//         else if (options.length > 3) {
//           return "Varias opciones seleccionadas!";
//         }
//         else {
//           var labels = [];
//           options.each(function() {
//             if ($(this).attr('label') !== undefined) {
//               labels.push($(this).attr('label'));
//             }
//             else {
//               labels.push($(this).html());
//             }
//           });
//           return labels.join(', ') + '';
//         }
//       }
//     });

//     $("#id_comunidad").addClass("form-control").multiselect({
//       buttonWidth: '100%',
//       includeSelectAllOption: true,
//       selectAllText: "Seleccionar todos",
//       buttonText: function(options, select) {
//         if (options.length === 0) {
//           return "Sin selección ...";
//         }
//         else if (options.length > 3) {
//           return "Varias opciones seleccionadas!";
//         }
//         else {
//           var labels = [];
//           options.each(function() {
//             if ($(this).attr('label') !== undefined) {
//               labels.push($(this).attr('label'));
//             }
//             else {
//               labels.push($(this).html());
//             }
//           });
//           return labels.join(', ') + '';
//         }
//       }
//     });

//     $("#id_municipio").multiselect('disable');
//     $("#id_comunidad").multiselect('disable');

//     var foo1 = [];
//   $(document).on('change','#id_departamento',function(){
//     $('#id_departamento :selected').each(function(i, selected){
//       foo1[i] = $(selected).val();
//       $('#id_municipio').multiselect('rebuild');
//     });
//     $.getJSON('/ajax/municipios/?ids='+foo1.join(","), function(data){
//       $('#id_municipio').html('');
//       $('#id_municipio').multiselect('enable');
//       $("#id_municipio").multiselect('refresh');
//       var comunidad = $('#id_municipio');
//       if(data){
//         $.each(data, function(i, item){

//           $.each(item, function(j, item2){
//             var group = $('<optgroup></optgroup>').attr('label', j);
//             $.each(item2, function(k, item3){
//               group.append($('<option></option>').val(item3.id).html(item3.nombre));
//             });
//             group.appendTo(comunidad);
//             $('#id_municipio').multiselect('rebuild');
//           });
//         });
//       }
//     });
//   });

//     var foo = [];
//     $(document).on('change','#id_municipio',function(){
//       $('#id_municipio :selected').each(function(i, selected){
//         foo[i] = $(selected).val();
//         $('#id_comunidad').multiselect('rebuild');
//       });
//       $.getJSON('/ajax/comunidades/?ids='+foo.join(","), function(data){
//         $('#id_comunidad').html('');
//         $('#id_comunidad').multiselect('enable');
//         $("#id_comunidad").multiselect('refresh');
//         var comunidad = $('#id_comunidad');
//         if(data){
//           $.each(data, function(i, item){

//             $.each(item, function(j, item2){
//               var group = $('<optgroup></optgroup>').attr('label', j);
//               $.each(item2, function(k, item3){
//                 group.append($('<option></option>').val(item3.id).html(item3.nombre));
//               });
//               group.appendTo(comunidad);
//               $('#id_comunidad').multiselect('rebuild');
//             });
//           });
//         }
//       });
//     });
// });
</script>
    <script type="text/javascript">
        $( ".hor-menu ul li" ).removeClass( "active" );
        $( ".hor-menu ul li.consulta" ).addClass( "active" );
    </script>
{% endblock extra_js %}


