{% extends "base.html" %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block extra_head %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock extra_head %}

{% block content %}
<div class="page-wrapper-row full-height">
	<div class="page-wrapper-middle">
		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<!-- BEGIN CONTENT BODY -->
				<!-- BEGIN PAGE HEAD-->
				<div class="page-head">
                    <div class="titulo-page">
                    	<div class="container">
                    		<!-- BEGIN PAGE TITLE -->
                    		<div class="page-title">
                    			<h1>Cooperativas</h1>

                    		</div>

                    	</div>
                    </div>

                </div>
				<!-- END PAGE HEAD-->
				<!-- BEGIN PAGE CONTENT BODY -->
				<div class="page-content">
					<div class="container">
						<!-- BEGIN PAGE CONTENT INNER -->
						<div class="page-content-inner">
							<div class="mt-content-body">
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="portlet light ">
											<div class="table-responsive">
												<table id='table-coop' class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>ID</th>
															<th>Cooperativa</th>
															<th>Siglas</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														{% for coop in cooperativas %}
														<tr>
															<td>{{coop.id}}</td>
															<td>{{coop.nombre}}</td>
															<td>{{coop.siglas}}</td>
															<td><a href="#">Ver</a></td>
														</tr>
														{% endfor %}

													</tbody>
												</table>
											</div>
										</div>
                                    </div>

								</div>

							</div>
						</div>
						<!-- END PAGE CONTENT INNER -->
					</div>
				</div>
				<!-- END PAGE CONTENT BODY -->
				<!-- END CONTENT BODY -->
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END CONTAINER -->
	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
$( ".hor-menu ul li" ).removeClass( "active" );
$( ".ind-link li" ).removeClass( "active" );
$( ".hor-menu ul li.cooperativa" ).addClass( "active" );

	 $('#table-coop').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No se encontro nada",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros en total)",
            "sSearch": "Buscar:",
            "oPaginate": {
		        "sFirst": "Primero",
		        "sLast": "Último",
		        "sNext": "Siguiente",
		        "sPrevious": "Anterior"
		    },
        }
    });

Highcharts.chart('muni', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Cooperativas',]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    plotOptions: {
        column: {
            // stacking: 'normal',
            dataLabels: {
                enabled: true,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [
    {% for k,v in dict.items %}
    	{
	        name: '{{k}}',
	        data: [{{v}},]
    	},
    {% endfor %}
     ]
});
</script>
{% endblock extra_js %}
