{% extends "base.html" %}

{% load static tools %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Auto Evaluación</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Calidad Manejo poda</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="poda1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Nivel uso de manejo poda</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="poda2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Meses realizan labores poda</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="poda3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Calidad Manejo sombra</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="sombra1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Nivel uso de manejo sombra</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="sombra2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Meses realizan labores sombra</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="sombra3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Calidad Manejo maleza</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="maleza1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Nivel uso de manejo maleza</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="maleza2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Meses realizan labores maleza</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="maleza3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Calidad Manejo fertilidad</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="fertilidad1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Nivel uso de manejo fertilidad</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="fertilidad2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Meses realizan labores fertilidad</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="fertilidad3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Calidad Manejo enfermedades</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="enfermedades1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Nivel uso de manejo enfermedades</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="enfermedades2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Meses realizan labores enfermedades</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="enfermedades3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Calidad Manejo insectos</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="insectos1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Nivel uso de manejo insectos</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="insectos2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Meses realizan labores insectos</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="insectos3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Calidad Manejo nematodos</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="nematodos1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Nivel uso de manejo nematodos</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="nematodos2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Meses realizan labores nematodos</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="nematodos3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
// poda
Highcharts.chart('poda1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_poda.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('poda2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nivel_poda.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('poda3', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in calidad_mes_poda.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

//Sombra
Highcharts.chart('sombra1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_sombra.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('sombra2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nivel_sombra.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('sombra3', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in calidad_mes_sombra.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

// maleza
Highcharts.chart('maleza1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_maleza.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('maleza2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nivel_maleza.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('maleza3', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in calidad_mes_maleza.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

//fertilidad
Highcharts.chart('fertilidad1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_fertilidad.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('fertilidad2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nivel_fertilidad.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('fertilidad3', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in calidad_mes_fertilidad.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

//enfermedades
Highcharts.chart('enfermedades1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_enfermedades.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('enfermedades2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nivel_enfermedades.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('enfermedades3', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in calidad_mes_enfermedades.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

//insectos
Highcharts.chart('insectos1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_insectos.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('insectos2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nivel_insectos.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('insectos3', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in calidad_mes_insectos.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

//nematodos
Highcharts.chart('nematodos1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nematodos.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('nematodos2', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in calidad_nivel_nematodos.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('nematodos3', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in calidad_mes_nematodos.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});
</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.evaluacion" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.evaluacion" ).addClass( "active" );
</script>
{% endblock extra_js %}
