<div class="btn-group btn-theme-panel">
	<a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-bars"></i> Indicadores
	</a>
	<div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Indicadores</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color general">
                                <a href="/composicion/">Composición</a>
                            </li>
                            <li class="theme-color tierra">
                                <a href="/tierra/">Tierra</a>
                            </li>
                            <li class="theme-color propiedad">
                                <a href="/trabajo/">Trabajo</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color ingresos">
                                <a href="/ingresos/">Prod. e Ingresos</a>
                            </li>
                            <li class="theme-color inventario">
                                <a href="#">Inventarios</a>
                            </li>
                            <li class="theme-color evaluacion">
                                <a href="/evaluacion/">Auto Evaluación</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color agroecologicas">
                                <a href="/agroecologica/">Op. agroecológicas</a>
                            </li>
                            <li class="theme-color comercializacion">
                                <a href="/comercializacion/">Comercialización</a>
                            </li>
                            <li class="theme-color conocimientos">
                                <a href="/conocimientos/">Conocimientos</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="theme-colors">
                            <li class="theme-color mitigacion">
                                <a href="/mitigacion/">Mitigación</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
