
<div class="portlet-title tabbable-line">

	<ul class="nav nav-tabs ind-link">
		{% if request.user.is_superuser %}
		<li class="beneficiario active">
			<a href="/beneficiarios/">Beneficiarios</a>
		</li>
		{% endif %}
		<li class="general active">
			<a href="/composicion/">Familia</a>
		</li>
		<li class="tierra">
			<a href="/tierra/">Tierra</a>
		</li>
		<li class="trabajo">
			<a href="/trabajo/">Trabajo</a>
		</li>
		<li class="ingresos">
			<a href="/ingresos/">Producción fincas</a>
		</li>
		<li class="inventario">
			<a href="/inventario/">Inventarios</a>
		</li>
		<li class="evaluacion">
			<a href="/evaluacion/">Auto Evaluación</a>
		</li>
		<li class="agroecologicas">
			<a href="/agroecologica/">Op. agroecológicas</a>
		</li>
		<li class="comercializacion">
			<a href="/comercializacion/">Comercialización</a>
		</li>
		<li class="conocimientos">
			<a href="/conocimientos/">Conocimientos</a>
		</li>
		<li class="mitigacion">
			<a href="/mitigacion/">Mitigación</a>
		</li>
	</ul>
</div>
