{% extends "base.html" %}

{% load static tools humanize %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Ingresos</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">
                                <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Ingresos brutos de las fincas</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="ingresos" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Ingresos  agrícolas: Granos básicos
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rubros</th>
                                                            <th>Número de familias produciendo</th>
                                                            <th>Área total</th>
                                                            <th>Unidad</th>
                                                            <th>Producción anual</th>
                                                            <th>Unidad</th>
                                                            <th>Promedio precio/C$</th>
                                                            <th>Ingreso bruto anual C$</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_granos_basica.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|floatformat:1|default:0}}</td>
                                                            <td>{{v.2}}</td>
                                                            <td>{{v.3|floatformat:1|default:0}}</td>
                                                            <td>{{v.4}}</td>
                                                            <td>{{v.5|floatformat:1|default:0}}</td>
                                                            <td>{{v.6|floatformat:1|default:0}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    <tr>
                                                        <td colspan="7">Ingreso bruto anula granos básicos Total C$</td>
                                                        <td>{{ingreso_bruto_granos_basicos|floatformat:1|default:0|intcomma}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Ingresos  agrícolas: Agroforestal y frutales
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rubros</th>
                                                            <th>Número de familias produciendo</th>
                                                            <th>Área total</th>
                                                            <th>Unidad</th>
                                                            <th>Producción anual</th>
                                                            <th>Unidad</th>
                                                            <th>Promedio precio/C$</th>
                                                            <th>Ingreso bruto anual C$</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_agro_fruta.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|floatformat:1|default:0}}</td>
                                                            <td>{{v.2}}</td>
                                                            <td>{{v.3|floatformat:1|default:0}}</td>
                                                            <td>{{v.4}}</td>
                                                            <td>{{v.5|floatformat:1|default:0}}</td>
                                                            <td>{{v.6|floatformat:1|default:0}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    <tr>
                                                        <td colspan="7">Ingreso bruto anual agroforestal y frutales Total C$</td>
                                                        <td>{{ingreso_bruto_agro_fruta|floatformat:1|default:0|intcomma}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Ingresos  agrícolas: Musaceas, raíces y tubérculos
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rubros</th>
                                                            <th>Número de familias produciendo</th>
                                                            <th>Área total</th>
                                                            <th>Unidad</th>
                                                            <th>Producción anual</th>
                                                            <th>Unidad</th>
                                                            <th>Promedio precio/C$</th>
                                                            <th>Ingreso bruto anual C$</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_musaceas_raices.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|floatformat:1|default:0}}</td>
                                                            <td>{{v.2}}</td>
                                                            <td>{{v.3|floatformat:1|default:0}}</td>
                                                            <td>{{v.4}}</td>
                                                            <td>{{v.5|floatformat:1|default:0}}</td>
                                                            <td>{{v.6|floatformat:1|default:0}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    <tr>
                                                        <td colspan="7">Ingreso bruto anual musaceas, raíces y tubérculos Total C$</td>
                                                        <td>{{ingreso_bruto_musaceas_raices|floatformat:1|default:0|intcomma}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Ingresos  agrícolas: Ganadería mayor y menor
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rubros</th>
                                                            <th>Número de familias produciendo</th>
                                                            <th>Área total</th>
                                                            <th>Unidad</th>
                                                            <th>Producción anual</th>
                                                            <th>Unidad</th>
                                                            <th>Promedio precio/C$</th>
                                                            <th>Ingreso bruto anual C$</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_ganaderia_mayor.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|floatformat:1|default:0}}</td>
                                                            <td>{{v.2}}</td>
                                                            <td>{{v.3|floatformat:1|default:0}}</td>
                                                            <td>{{v.4}}</td>
                                                            <td>{{v.5|floatformat:1|default:0}}</td>
                                                            <td>{{v.6|floatformat:1|default:0}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    <tr>
                                                        <td colspan="7">Ingreso bruto anual ganadería mayor y menor Total C$</td>
                                                        <td>{{ingreso_bruto_ganaderia_mayor|floatformat:1|default:0|intcomma}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Ingresos  no agrícolas: Otros ingresos
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rubros</th>
                                                            <th>Número de familias involucradas</th>
                                                            <th>Tiempo de ocupación</th>
                                                            <th>Unidad</th>
                                                            <th>Promedio ingresos/mes C$</th>
                                                            <th>Ingreso bruto anual C$</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_otros_ingresos.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|floatformat:1|default:0}}</td>
                                                            <td>{{v.2}}</td>
                                                            <td>{{v.3|floatformat:1|default:0}}</td>
                                                            <td>{{v.4|floatformat:1|default:0}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    <tr>
                                                        <td colspan="5">Ingreso bruto anual no agrícola total C$</td>
                                                        <td>{{ingreso_bruto_otros_ingresos|floatformat:1|default:0|intcomma}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Ingresos  Consolidados
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rubros</th>
                                                            <th>Número de familias total</th>
                                                            <th>Ingreso  bruto anual total C$</th>
                                                            <th>Ingreso neto anual total C$</th>
                                                            <th>Ingreso bruto anual/familia C$</th>
                                                            <th>Ingreso neto anual/familia C$</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Ingresos agrícolas</td>
                                                            <td>{{num_familias}}</td>
                                                            <td>{{ingreso_bruto_anual|floatformat:1|intcomma}}</td>
                                                            <td>{{ingreso_neto_anual|floatformat:1|intcomma}}</td>
                                                            <td>{{agricola_familia|floatformat:1|intcomma}}</td>
                                                            <td>{{ingreso_agri_familia|floatformat:1|intcomma}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ingresos No agrícolas</td>
                                                            <td>{{num_familias}}</td>
                                                            <td>{{ingreso_bruto_otros_ingresos|floatformat:1|intcomma}}</td>
                                                            <td>{{ingreso_neto_anual_otros_ingresos|floatformat:1|intcomma}}</td>
                                                            <td>{{no_agricola_familia|floatformat:1|intcomma}}</td>
                                                            <td>{{ingreso_no_agri_familia|floatformat:1|intcomma}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Productividad de rubros agrícolas
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rubros</th>
                                                            <th>Número de familias produciendo</th>
                                                            <th>Área total</th>
                                                            <th>Unidad</th>
                                                            <th>Producción anual</th>
                                                            <th>Unidad</th>
                                                            <th>Productividad</th>
                                                            <th>Unidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_productividad.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|floatformat:1|default:0}}</td>
                                                            <td>{{v.2}}</td>
                                                            <td>{{v.3|floatformat:1|default:0}}</td>
                                                            <td>{{v.4}}</td>
                                                            <td>{{v.5|floatformat:1|default:0}}</td>
                                                            <td>{{v.4}}/{{v.2}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >

Highcharts.chart('ingresos', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'C$ '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: 'C$ {point.y:,.2f}'
            }
        }
    },
    series: [
                {
                   name: "Granos básicos",
                    data: [{{ingreso_bruto_granos_basicos}},],
                },
                {
                    name: "Agroforestal y frutales",
                    data: [{{ingreso_bruto_agro_fruta}},],
                },
                {
                    name: "Musaceas, raíces y tubérculos",
                    data: [{{ingreso_bruto_musaceas_raices}},],
                },
                {
                    name: "Ganadería mayor y menor",
                    data: [{{ingreso_bruto_ganaderia_mayor}},],
                },
                {
                    name: "Otros Ingreos no agricola",
                    data: [{{ingreso_bruto_otros_ingresos}},],
                },
    ],
});

</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.ingresos" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.ingresos" ).addClass( "active" );
</script>
{% endblock extra_js %}
