{% extends "base.html" %}

{% load static tools %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Inventario y estado de producción</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Inventario SAF cacao  || Número de fincas: {{fincas_plantios}} ||  Número de plantíos SAF Cacao: {{numero_plantios}}
                                                </div>

                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Cantidad en mz</th>
                                                            <th>%</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Área total SAF Cacao</td>
                                                            <td>{{area_total_saf_cacao|floatformat:2}}</td>
                                                            <td>{{area_total_saf_cacao|calcular_porcentaje:area_total_saf_cacao}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Área total en desarrollo</td>
                                                            <td>{{area_total_saf_desarrollo|floatformat:2}}</td>
                                                            <td>{{area_total_saf_desarrollo|calcular_porcentaje:area_total_saf_cacao}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Área total en producción</td>
                                                            <td>{{area_total_saf_produccion|floatformat:2}}</td>
                                                            <td>{{area_total_saf_produccion|calcular_porcentaje:area_total_saf_cacao}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Área total de desarrollo-producción </td>
                                                            <td>{{area_total_saf_dp|floatformat:2}}</td>
                                                            <td>{{area_total_saf_dp|calcular_porcentaje:area_total_saf_cacao}}</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                 <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>
                                                </div>

                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Promedio</th>
                                                            <th>Mediano</th>
                                                            <th>Minimo</th>
                                                            <th>Maximo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td># de plantas de cacao por semilla/mz</td>
                                                            <td>{{avg_semilla|floatformat:1}}</td>
                                                            <td>{{mediana_semilla|floatformat:1|default:0}}</td>
                                                            <td>{{min_semilla|floatformat:1|default:0}}</td>
                                                            <td>{{max_semilla|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de plantas de cacao injertada/mz</td>
                                                            <td>{{avg_injerto|floatformat:1}}</td>
                                                            <td>{{mediana_injerto|floatformat:1|default:0}}</td>
                                                            <td>{{min_injerto|floatformat:1|default:0}}</td>
                                                            <td>{{max_injerto|floatformat:1|default:0}}</td>
                                                        </tr>
                                                         <tr>
                                                            <td># de musaceas/mz</td>
                                                            <td>{{avg_musaceas|floatformat:1}}</td>
                                                            <td>{{mediana_musaceas|floatformat:1|default:0}}</td>
                                                            <td>{{min_musaceas|floatformat:1|default:0}}</td>
                                                            <td>{{max_musaceas|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de frutales/mz</td>
                                                            <td>{{avg_frutales|floatformat:1}}</td>
                                                            <td>{{mediana_frutales|floatformat:1|default:0}}</td>
                                                            <td>{{min_frutales|floatformat:1|default:0}}</td>
                                                            <td>{{max_frutales|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de maderables/mz</td>
                                                            <td>{{avg_maderables|floatformat:1}}</td>
                                                            <td>{{mediana_maderables|floatformat:1|default:0}}</td>
                                                            <td>{{min_maderables|floatformat:1|default:0}}</td>
                                                            <td>{{max_maderables|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de árboles de servicios/mz</td>
                                                            <td>{{avg_servicios|floatformat:1}}</td>
                                                            <td>{{mediana_servicios|floatformat:1|default:0}}</td>
                                                            <td>{{min_servicios|floatformat:1|default:0}}</td>
                                                            <td>{{max_servicios|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Edad de plantíos</td>
                                                            <td>{{avg_edad_plantas|floatformat:1}}</td>
                                                            <td>{{mediana_edad_plantas|floatformat:1|default:0}}</td>
                                                            <td>{{min_edad_plantas|floatformat:1|default:0}}</td>
                                                            <td>{{max_edad_plantas|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>% de sombra</td>
                                                            <td>{{avg_sombra|floatformat:1}}</td>
                                                            <td>{{mediana_sombra|floatformat:1|default:0}}</td>
                                                            <td>{{min_sombra|floatformat:1|default:0}}</td>
                                                            <td>{{max_sombra|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Producción cacao qq baba/mz</td>
                                                            <td>{{avg_produccion|floatformat:1}}</td>
                                                            <td>{{mediana_produccion|floatformat:1|default:0}}</td>
                                                            <td>{{min_produccion|floatformat:1|default:0}}</td>
                                                            <td>{{max_produccion|floatformat:1|default:0}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                 <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>
                                                </div>

                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Promedio</th>
                                                            <th>Mediano</th>
                                                            <th>Minimo</th>
                                                            <th>Maximo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td># de plantas de cacao en producción/mz</td>
                                                            <td>{{avg_produccion2|floatformat:1}}</td>
                                                            <td>{{mediana_produccion2|floatformat:1|default:0}}</td>
                                                            <td>{{min_produccion2|floatformat:1|default:0}}</td>
                                                            <td>{{max_produccion2|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de plantas de cacao en desarrollo/mz</td>
                                                            <td>{{avg_desarrollo2|floatformat:1}}</td>
                                                            <td>{{mediana_desarrollo2|floatformat:1|default:0}}</td>
                                                            <td>{{min_desarrollo2|floatformat:1|default:0}}</td>
                                                            <td>{{max_desarrollo2|floatformat:1|default:0}}</td>
                                                        </tr>
                                                         <tr>
                                                            <td># de plantas de cacao faltantes/mz</td>
                                                            <td>{{avg_numero_faltantes|floatformat:1}}</td>
                                                            <td>{{mediana_numero_faltantes|floatformat:1|default:0}}</td>
                                                            <td>{{min_numero_faltantes|floatformat:1|default:0}}</td>
                                                            <td>{{max_numero_faltantes|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de plantas de cacao con más de 91 frutos/mz</td>
                                                            <td>{{avg_numero_frutos_91|floatformat:1}}</td>
                                                            <td>{{mediana_numero_frutos_91|floatformat:1|default:0}}</td>
                                                            <td>{{min_numero_frutos_91|floatformat:1|default:0}}</td>
                                                            <td>{{max_numero_frutos_91|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de plantas de cacao con 51-90 frutos/mz</td>
                                                            <td>{{avg_numero_frutos_51|floatformat:1}}</td>
                                                            <td>{{mediana_numero_frutos_51|floatformat:1|default:0}}</td>
                                                            <td>{{min_numero_frutos_51|floatformat:1|default:0}}</td>
                                                            <td>{{max_numero_frutos_51|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de plantas de cacao con 31-50 frutos/mz</td>
                                                            <td>{{avg_numero_frutos_31|floatformat:1}}</td>
                                                            <td>{{mediana_numero_frutos_31|floatformat:1|default:0}}</td>
                                                            <td>{{min_numero_frutos_31|floatformat:1|default:0}}</td>
                                                            <td>{{max_numero_frutos_31|floatformat:1|default:0}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td># de plantas de cacao con menos de 30 frutos/mz</td>
                                                            <td>{{avg_numero_frutos_0|floatformat:1}}</td>
                                                            <td>{{mediana_numero_frutos_0|floatformat:1|default:0}}</td>
                                                            <td>{{min_numero_frutos_0|floatformat:1|default:0}}</td>
                                                            <td>{{max_numero_frutos_0|floatformat:1|default:0}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
Highcharts.chart('container1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Stacked bar chart'
    },
    xAxis: {
        categories: [{% for k,v in tabla_trabajo.items %}'{{k}}',{% endfor %}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total fruit consumption'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Trabajadores',
        data: [{% for k,v in tabla_trabajo.items %}{{v.0|default:0}},{% endfor %}]
    }, {
        name: 'Hombres adultos',
        data: [{% for k,v in tabla_trabajo.items %}{{v.1|default:0}},{% endfor %}]
    }, {
        name: 'Mujeres adultas',
        data: [{% for k,v in tabla_trabajo.items %}{{v.2|default:0}},{% endfor %}]
    }, {
        name: 'Hombres jovenes',
        data: [{% for k,v in tabla_trabajo.items %}{{v.3|default:0}},{% endfor %}]
    }, {
        name: 'Mujeres jovenes',
        data: [{% for k,v in tabla_trabajo.items %}{{v.4|default:0}},{% endfor %}]
    }]
});
</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.inventario" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.inventario" ).addClass( "active" );
</script>
{% endblock extra_js %}
