{% extends "base.html" %}

{% load static %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
{% endblock extra_head %}

{% block content %}
<style type="text/css">
    #mapid { height: 680px; }
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Mapa de productores</h1>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">


                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Mapa de los productores</span>
                                                    {% if messages %}
                                                    <ul class="messages">
                                                        {% for message in messages %}
                                                        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div id="mapid"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
{% endblock content %}

{% block extra_js %}

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
<script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>
<script src="https://unpkg.com/esri-leaflet@2.3.1/dist/esri-leaflet.js"
    integrity="sha512-Np+ry4Dro5siJ1HZ0hTwn2jsmu/hMNrYw1EIK9EjsEVbDge4AaQhjeTGRg2ispHg7ZgDMVrSDjNrzH/kAO9Law=="
    crossorigin=""></script>
<script type="text/javascript">
$( ".hor-menu ul li" ).removeClass( "active" );
$( ".ind-link li" ).removeClass( "active" );
$( ".hor-menu ul li.mapa" ).addClass( "active" );
</script>
<script type="text/javascript">
    var mymap = L.map('mapid',{scrollWheelZoom:false}).setView([12.905, -85.29], 8);

    L.esri.basemapLayer('ImageryFirefly').addTo(mymap);
    L.esri.basemapLayer('ImageryLabels').addTo(mymap);

    // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    // maxZoom: 18,
    // attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    // }).addTo(mymap);

    var markers = L.markerClusterGroup({ animateAddingMarkers : true });
    var markersList = [];
    // add marker to the map
    $.getJSON("{% url 'obtener-lista-mapa' %}", function(data){
        $.each(data, function(i, elemento){
            //marker = L.marker([elemento.lat, elemento.lon]).addTo(map);
            var marker = L.marker([elemento.lat, elemento.lon])
            var contenido = elemento.nombre+'<br>'+'Altitud: '+elemento.altitud+' Metros'+'<br>'+'Producción total: '+elemento.produccion+' QQ Seco'+'<br>'+'Latitud: '+elemento.lat+'<br>'+'Longitud: '+elemento.lon;
            marker.bindPopup(contenido);

            markersList.push(marker);
            markers.addLayer(marker);
        });

    });
    mymap.addLayer(markers);
</script>
{% endblock extra_js %}
