{% extends "base.html" %}

{% load static tools %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Mitigación</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Realiza monitoreo de plagas y enfermedades?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cada cuánto realiza monitoreo de plagas y enfermedades?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container2" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cómo realiza monitoreo de plagas y enfermedades?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container3" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Si lleva registro de monitoreo de plagas y enfermedades?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container4" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cuenta con suficiente recursos para manejo de finca?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container5" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Para qué cosas hace falta los recursos?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container6" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cuenta con obras para almacenamiento de agua?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container7" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Vende su Cacao en forma organizada?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container8" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cuenta con un contrato para la venta de cacao?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container9" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Está certificado los cacaotales?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container10" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Qué tipo de certificación?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container11" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿La calidad de su cacao en reconocida y monitoreada?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container12" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cuenta con plan de manejo de la finca?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container13" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cuenta con un plan de negocio para el cultivo de cacao?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container14" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Cuenta con un plan de inversión para el cultivo de cacao?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container15" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">¿Quién apoyo para elaborar estos planes?</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container16" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
Highcharts.chart('container1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_monitorio_plaga.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_monitorio_cada_cuanto.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('container3', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_monitorio_realiza.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container4', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_lleva_registro.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container5', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_suficiente_recurso.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container6', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_falta_recurso.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('container7', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_obra_almacenamiento.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container8', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_venta_organizada.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container9', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_contrato_venta.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container10', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_certificado.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container11', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_tipo_certificado.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('container12', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_calidad_cacao.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container13', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_plan_manejo.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container14', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_plan_negocio.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container15', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Porcentajes',
            colorByPoint: true,
            data: [
            {% for k,v in tabla_plan_inversion.items %}
            {
                name: '{{k}}',
                y: {{v|default:"0"}}
            },
            {% endfor %}
            ]
        }]
    });

Highcharts.chart('container16', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_apoya_planes.items %}

        {
            name: '{{k}} - ({{v}})',
            data: [{{v|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.mitigacion" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.mitigacion" ).addClass( "active" );
</script>
{% endblock extra_js %}
