{% extends "base.html" %}

{% load static tools %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<style type="text/css">
    .badge-success {
    background-color: #24b364;
}
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Op. Agroecológicas</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Uso de opciones agroecológicas
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Opciones</th>
                                                            <th>No utiliza</th>
                                                            <th>En pequeño escala</th>
                                                            <th>En mayor escala</th>
                                                            <th>En toda la finca</th>
                                                            <th>color</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_opcion_agro.items%}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.1}}</td>
                                                        <td>{{v.2}}</td>
                                                        <td>{{v.3}}</td>
                                                        <td>
                                                            {% if v.4 <= 20 %}
                                                                <span class="badge badge-pill badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            {% elif v.4 >= 21 and v.4 <= 49 %}
                                                                <span class="badge badge-pill badge-warning">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            {% else %}
                                                                <span class="badge badge-pill badge-success">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            {% endif %}
                                                        {{v.4|floatformat:1}}</td>
                                                    </tr>
                                                    {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
Highcharts.chart('uso_tierra', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Uso de la tierra'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} %'
            }
        }
    },
    series: [
        {% for k,v in tabla_uso_tierra.items %}

        {
            name: '{{k}} - ({{v.2}})',
            data: [{{v.2|calcular_frecuencia:num_familias|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('indice', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Índices ambientales'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.2f}'
            }
        }
    },
    series: [
                {
                   name: "Cobertura de árboles",
                    data: [{{cobertura_arboles}},],
                },
                {
                    name: "Índice de biodiversidad",
                    data: [{{biodiversidad}},],
                },
                {
                    name: "Índice de captura de carbono",
                    data: [{{carbono}},],
                },
                {
                    name: "Índice de estado de vida de suelo",
                    data: [{{indice_suelo}},],
                },
    ],
});

</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.agroecologicas" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.agroecologicas" ).addClass( "active" );
</script>
{% endblock extra_js %}
