{% extends "base.html" %}
{% load humanize %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Dashboard Linea Base Productores
                                <!-- <small>dashboard & statistics</small> -->
                            </h1>
                        </div>
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <!--<i class="fa fa-circle"></i>-->
                            </li>
                            <!--<li>
                                <span>Dashboard</span>
                            </li>-->
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Productores registrados</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Total</div>
                                                        <div class="uppercase font-hg font-red-flamingo">
                                                        <span aria-hidden="true" class="icon-users"></span>
                                                        {{total}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Hombres </div>
                                                        <div class="uppercase font-hg theme-font">
                                                            <span aria-hidden="true" class="icon-user"></span>
                                                           {{hombres}}

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Mujeres </div>
                                                        <div class="uppercase font-hg font-purple">
                                                            <span aria-hidden="true" class="icon-user-female"></span>
                                                            {{mujeres}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet light">
                                          <!-- Nav tabs -->
                                          <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ingresos</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Empleos</a></li>
                                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Certificación</a></li>
                                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Areas Cacao</a></li>
                                          </ul>

                                          <!-- Tab panes -->
                                          <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Número de familias registradas en sistema</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_familia" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Ingreso bruto total de las fincas registradas (C$/año)</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_familia2" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Promedio ingreso bruto total por familia (C$/año/familia)</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_familia3" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Ingreso bruto anual Agroforestería y Frutales de las fincas registradas (C$/año)</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_familia4" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Promedio ingreso bruto Agrofrestería y Frutales por familia (C$/año/familia)</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_familia5" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Ingreso bruto anual Musaceas y Tubérculos de las fincas registradas (C$/año)</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_familia6" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Promedio ingreso bruto Musaceas y Túberculos por familia </span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_familia7" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">

                                    </div>
                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="profile">
                                               <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Puestos permanentes generados por año por las fincas registradas</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_empleo1" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Puestos temporales generados por año por las fincas registradas</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_empleo2" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Puestos familiares generados por año por las fincas registradas</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_empleo3" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">

                                    </div>
                                </div>
                                            </div>


                                            <div role="tabpanel" class="tab-pane" id="messages">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">% de Cacaotales certificados</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_certificado1" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Productividad de las fincas registradas qq seco/mz 2019</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_certificado2" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Productividad de las fincas registradas qq seco/mz 2018</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_certificado3" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Productividad de las fincas registradas qq seco/mz 2017</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_certificado4" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                            </div>



                                            <div role="tabpanel" class="tab-pane" id="settings">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold">Areas de cacao de las fincas registradas (mz)</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="container_area" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                            </div>
                                          </div>

                                    </div>
                                </div>

                                </div>


                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".hor-menu ul li.inicio" ).addClass( "active" );
</script>

<script type="text/javascript">
Highcharts.setOptions({
    lang: {
        thousandsSep: ','
    }
});


Highcharts.chart('container_familia', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_familia_cooperativa.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Conteo',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' '
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_familia_cooperativa.values %} {{v}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_familia2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_ingresos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'C$',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' C$'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_ingresos.values %} {{v.0|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_familia3', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_ingresos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'C$',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' C$'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_ingresos.values %} {{v.1|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_familia4', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_ingresos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'C$',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' C$'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_ingresos.values %} {{v.2|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_familia5', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_ingresos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'C$',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' C$'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_ingresos.values %} {{v.3|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_familia6', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_ingresos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'C$',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' C$'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_ingresos.values %} {{v.4|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_familia7', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_ingresos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'C$',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' C$'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_ingresos.values %} {{v.5|floatformat:2}}, {% endfor %}]
    }
    ]
});

//empleos
Highcharts.chart('container_empleo1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_empleos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' Cantidad'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_empleos.values %} {{v.0|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_empleo2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_empleos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' Cantidad'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_empleos.values %} {{v.1|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_empleo3', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_empleos.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' Cantidad'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_empleos.values %} {{v.2|floatformat:2}}, {% endfor %}]
    }
    ]
});


Highcharts.chart('container_certificado1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_certficado.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: '%',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' %'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_certficado.values %} {{v|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_certificado2', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_productividad_2019.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'qq/seco/mz',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: 'qq'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_productividad_2019.values %} {{v|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_certificado3', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_productividad_2018.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'qq/seco/mz',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: 'qq'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_productividad_2018.values %} {{v|floatformat:2}}, {% endfor %}]
    }
    ]
});

Highcharts.chart('container_certificado4', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_productividad_2017.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'qq/seco/mz',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: 'qq'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [{
        name: '',
        data: [{% for v in grafo_productividad_2017.values %} {{v|floatformat:2}}, {% endfor %}]
    }
    ]
});


Highcharts.chart('container_area', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in grafo_area.keys %} '{{k}}', {% endfor %}],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Mz',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: 'Mz'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },

    credits: {
        enabled: false
    },
    series: [
    {
        name: 'Área total SAF Cacao',
        data: [{% for v in grafo_area.values %} {{v.0|floatformat:2}}, {% endfor %}]
    },
    {
        name: 'Área total en desarrollo',
        data: [{% for v in grafo_area.values %} {{v.1|floatformat:2}}, {% endfor %}]
    },
    {
        name: 'Área total en producción',
        data: [{% for v in grafo_area.values %} {{v.2|floatformat:2}}, {% endfor %}]
    },
    {
        name: 'Área total de desarrollo-producción',
        data: [{% for v in grafo_area.values %} {{v.3|floatformat:2}}, {% endfor %}]
    }]
});
</script>

{% endblock extra_js %}


