{% extends "base.html" %}

{% load static tools %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<style type="text/css">
    .badge {
        font-size: 16px !important;
        height: 23px !important;
    }
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Tierra</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">
                                <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Uso de la tierra (mz)</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="uso_tierra" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Uso de la tierra
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Uso de tierra</th>
                                                            <th>Conteo</th>
                                                            <th>%</th>
                                                            <th>Total en mz</th>
                                                            <th>%</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%for k,v in tabla_uso_tierra.items%}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|floatformat:0|default:0}}</td>
                                                            <td>{{v.1|floatformat:0|default:0}}</td>
                                                            <td>{{v.2|floatformat:0|default:0}}</td>
                                                            <td>{{v.3|floatformat:0|default:0}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                    <tr>
                                                        <td>Total</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>{{total_manzanas_familias|floatformat:0}} mz</td>
                                                        <td>{{total_porcentaje|floatformat:0}} %</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Rangos en mz <span class="badge badge-success">(Promedio en Mz {{promedio_ha|floatformat:2}})</span>
                                                </div>

                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Rangos</th>
                                                            <th>Frecuencias</th>
                                                            <th>%</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                <tr>
                                                    <td>0 Mz</td>
                                                    <td>{{cero}}</td>
                                                    <td>{{por_cero}}</td>
                                                </tr>
                                                <tr>
                                                    <td>1 -- 10 Mz</td>
                                                    <td>{{rango1}}</td>
                                                    <td>{{por_rango1}}</td>

                                                </tr>
                                                <tr>
                                                    <td>11 -- 25 Mz</td>
                                                    <td>{{rango2}}</td>
                                                    <td>{{por_rango2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>26 -- 35 Mz</td>
                                                    <td>{{rango3}}</td>
                                                    <td>{{por_rango3}}</td>

                                                </tr>
                                                <tr>
                                                    <td>36 -- 45 Mz</td>
                                                    <td>{{rango4}}</td>
                                                    <td>{{por_rango4}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Más de 46 Mz</td>
                                                    <td>{{rango5}}</td>
                                                    <td>{{por_rango5}}</td>

                                                </tr>
                                                 <tr>
                                                    <td>Total</td>
                                                    <th>{{total_rangos}}</th>
                                                    <th>{{total_porcentajes}} %</th>
                                                </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Indices ambientales
                                                </div>
                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export2'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body table-responsive my-custom-scrollbar" id="export2">
                                                <table class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">

                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Valor</th>
                                                            <th>Rango</th>
                                                        </tr>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        <td>Cobertura de árboles</td>
                                                        <td>{{cobertura_arboles|floatformat:2}}</td>
                                                        <td>0 - 1</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Índice de biodiversidad</td>
                                                        <td>{{biodiversidad|floatformat:2}}</td>
                                                        <td>0 - 1</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Indice de captura de carbono</td>
                                                        <td>{{carbono|floatformat:2}}</td>
                                                        <td>0 - 1</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Índice de estado de vida de suelo</td>
                                                        <td>{{indice_suelo|floatformat:2}}</td>
                                                        <td>0 - 1</td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Índices ambientales</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="indice" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Formula indice ambientales</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                     <samp><strong>Cobertura de árboles =</strong> (Bosque primario* 1 + Bosque secundario* 0.5 + Cultivos anuales * 0 + Plantacion forestal *0.8 + Area de pastos abiertos * 0 + Area de pastos con árboles * 0.3 + Cultivos perennes * 0.4)/Area Total)</samp>
                                                    <br><br>
                                                    <samp><strong>Índice de biodiversidad =</strong> (Bosque primario* 0.9 + Bosque secundario* 0.6 + Plantación forestal *0.6+Cultivos anuales * 0 + Area de pastos abiertos * 0.2 + Area de pastos con arboles * 0.4 + Cultivos perennes * 0.6)/Area Total</samp>
                                                    <br><br>
                                                    <samp><strong>Índice de Captura de Carbono =</strong> (Bosque primario* 1 + Bosque secundario* 0.8 + Cultivos anuales * 0 + Plantación forestal*0.7 + Area de pastos abiertos * 0.4 + Area de pastos con árboles * 0.7 + Cultivos perennes * 0.7)/Area Total</samp>
                                                    <br><br>
                                                    <samp><strong>Índice de estado de suelo =</strong> (Bosque primario* 1 + Bosque secundario* 1 + Cultivos anuales * 0.2 + Plantación forestal* 0.9 + Area con pastos abiertos * 0.4 + Area con pastos con árboles * 0.6 + Cultivos perennes * 0.9)/Area Total</samp>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
Highcharts.chart('uso_tierra', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Uso de la tierra'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.0f} mz'
            }
        }
    },
    series: [
        {% for k,v in tabla_uso_tierra.items %}

        {
            name: '{{k}} - ({{v.3|floatformat:0}}%)',
            data: [{{v.2|default:0}},],
        },
        {% endfor %}
    ],
});

Highcharts.chart('indice', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Índices ambientales'
    },
    xAxis: {
        categories: ['Opciones',]
    },
    yAxis: {
        title: {
            text: 'Conteo '
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.2f}'
            }
        }
    },
    series: [
                {
                   name: "Cobertura de árboles",
                    data: [{{cobertura_arboles}},],
                },
                {
                    name: "Índice de biodiversidad",
                    data: [{{biodiversidad}},],
                },
                {
                    name: "Índice de captura de carbono",
                    data: [{{carbono}},],
                },
                {
                    name: "Índice de estado de vida de suelo",
                    data: [{{indice_suelo}},],
                },
    ],
});

</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.tierra" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.tierra" ).addClass( "active" );
</script>
{% endblock extra_js %}
