{% extends "base.html" %}

{% load static tools humanize %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "ficha/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "ficha/filtros.html" %}
                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/">Inicio</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/consulta/">Consulta</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Fuerza de trabajo</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">
                                <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption">
                                                    <i class="icon-globe font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Fuerza de trabajo</span>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="map">
                                                    <div class="grafico-ind" id="container1" width='100%'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Trabajadores Permanentes
                                                </div>

                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Categorias</th>
                                                            <th>Número de fincas</th>
                                                            <th>Promedio trabajador/finca</th>
                                                            <th>Promedio mes/trabajador</th>
                                                            <th>Promedio pago C$/día</th>
                                                            <th>Promedio Empleo generado/año/finca</th>
                                                            <th>Pago/finca C$/año</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k, v in tabla_permanentes.items %}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.5|floatformat:0}}</td>
                                                            <td>{{v.0|default:0|floatformat:2}}</td>
                                                            <td>{{v.1|default:0|floatformat:2}}</td>
                                                            <td>{{v.2|default:0|floatformat:2}}</td>
                                                            <td>{{v.3|default:0|floatformat:2}}</td>
                                                            <td>{{v.4|default:0|floatformat:2|intcomma}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td>Total</td>
                                                            <td colspan="4"></td>
                                                            <td>{{total_permanente.3|floatformat:2}}</td>
                                                            <td>{{total_permanente.4|floatformat:2}}</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                 <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Trabajadores Temporales
                                                </div>

                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Categorias</th>
                                                            <th>Número de fincas</th>
                                                            <th>Promedio trabajador/finca</th>
                                                            <th>Promedio dias/trabajador</th>
                                                            <th>Promedio pago C$/día</th>
                                                            <th>Promedio Empleo generado/año/finca</th>
                                                            <th>Pago/finca C$/año</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k, v in tabla_temporales.items %}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.5|floatformat:0}}</td>
                                                            <td>{{v.0|default:0|floatformat:2}}</td>
                                                            <td>{{v.1|default:0|floatformat:2}}</td>
                                                            <td>{{v.2|default:0|floatformat:2}}</td>
                                                            <td>{{v.3|default:0|floatformat:2}}</td>
                                                            <td>{{v.4|default:0|floatformat:2|intcomma}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td>Total</td>
                                                            <td colspan="4"></td>
                                                            <td>{{total_temporal.3|floatformat:2}}</td>
                                                            <td>{{total_temporal.4|floatformat:2}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                 <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list"></i>Trabajadores Familiares
                                                </div>

                                                <div class="actions">
                                                    <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                        <i class="icon-cloud-download"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Categorias</th>
                                                            <th>Número de fincas</th>
                                                            <th>Promedio trabajador/finca</th>
                                                            <th>Promedio mes/trabajador</th>
                                                            <th>Promedio pago C$/día</th>
                                                            <th>Promedio Empleo generado/año/finca</th>
                                                            <th>Pago/finca C$/año</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k, v in tabla_familiares.items %}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.5|floatformat:0}}</td>
                                                            <td>{{v.0|default:0|floatformat:2}}</td>
                                                            <td>{{v.1|default:0|floatformat:2}}</td>
                                                            <td>{{v.2|default:0|floatformat:2}}</td>
                                                            <td>{{v.3|default:0|floatformat:2}}</td>
                                                            <td>{{v.4|default:0|floatformat:2|intcomma}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td>Total</td>
                                                            <td colspan="4"></td>
                                                            <td>{{total_familiar.3|floatformat:2}}</td>
                                                            <td>{{total_familiar.4|floatformat:2}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" >
Highcharts.chart('container1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Labores y fuerza de trabajo'
    },
    xAxis: {
        categories: [{% for k,v in tabla_trabajo.items %}'{{k}}',{% endfor %}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Totales'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Trabajadores',
        data: [{% for k,v in tabla_trabajo.items %}{{v.0|default:0}},{% endfor %}]
    }, {
        name: 'Hombres adultos familia',
        data: [{% for k,v in tabla_trabajo.items %}{{v.1|default:0}},{% endfor %}]
    }, {
        name: 'Mujeres adultas familia',
        data: [{% for k,v in tabla_trabajo.items %}{{v.2|default:0}},{% endfor %}]
    }, {
        name: 'Hombres jovenes familia',
        data: [{% for k,v in tabla_trabajo.items %}{{v.3|default:0}},{% endfor %}]
    }, {
        name: 'Mujeres jovenes familia',
        data: [{% for k,v in tabla_trabajo.items %}{{v.4|default:0}},{% endfor %}]
    }]
});
</script>
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.trabajo" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.trabajo" ).addClass( "active" );
</script>
{% endblock extra_js %}
