{% extends "base.html" %}

{% block menu_app %}
 {% include "menus/menu_linea_base.html" %}
{% endblock menu_app %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>Inventario en áreas de cacao en desarrollo</h1>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="portlet light ">
                                            <div class="table-responsive">
                                                <table id='table-salida1' class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Surcos</th>
                                                            <th>Excelentes</th>
                                                            <th>Buenas</th>
                                                            <th>Malas</th>
                                                            <th>Muertas</th>
                                                            <th>NS</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k,v in tabla1.items %}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|default:0}}</td>
                                                            <td>{{v.2|default:0}}</td>
                                                            <td>{{v.3|default:0}}</td>
                                                            <td>{{v.4|default:0}}</td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="portlet light ">
                                            <div class="table-responsive">
                                                <table id='table-salida1' class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Clones</th>
                                                            <th>Excelentes</th>
                                                            <th>Buenas</th>
                                                            <th>Malas</th>
                                                            <th>Muertas</th>
                                                            <th>NS</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k,v in tabla2.items %}
                                                        <tr>
                                                            <td>{{k}}</td>
                                                            <td>{{v.0|default:0}}</td>
                                                            <td>{{v.1|default:0}}</td>
                                                            <td>{{v.2|default:0}}</td>
                                                            <td>{{v.3|default:0}}</td>
                                                            <td>{{v.4|default:0}}</td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
$( ".hor-menu ul li" ).removeClass( "active" );
$( ".ind-link li" ).removeClass( "active" );
$( ".hor-menu ul li.salida25x25" ).addClass( "active" );
</script>
{% endblock extra_js %}
