{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Panorama General de la UNIDO
                                <!-- <small>dashboard & statistics</small> -->
                            </h1>
                        </div>
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Inicio</a>
                                <!--<i class="fa fa-circle"></i>-->
                            </li>
                            <!--<li>
                                <span>Dashboard</span>
                            </li>-->
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">o</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Total</div>
                                                        <div class="uppercase font-hg font-red-flamingo">
                                                        <span aria-hidden="true" class="icon-users"></span>
                                                        0

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Hombres </div>
                                                        <div class="uppercase font-hg theme-font">
                                                            <span aria-hidden="true" class="icon-user"></span>
                                                           0

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Mujeres </div>
                                                        <div class="uppercase font-hg font-purple">
                                                            <span aria-hidden="true" class="icon-user-female"></span>
                                                            0
                                                        </div>
                                                    </div>
                                                    <div class="map">
                                                        <div id="map-canvas" style="width:100%; height:445px"></div>
                                                    </div>
                                                    <br>
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart font-dark hide"></i>
                                                        <span class="caption-subject font-green-steel bold uppercase">Familiares</span>
                                                        <span class="caption-helper"></span>

                                                    </div>
                                                    <br>

                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Niños </div>
                                                        <div class="uppercase font-hg font-red-flamingo">
                                                        <span aria-hidden="true" class="fa fa-child"></span>
                                                        0

                                                        </div>
                                                        <div class="font-grey-mint font-sm">menores de 12 años</div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Jóvenes </div>
                                                        <div class="uppercase font-hg theme-font">
                                                            <span aria-hidden="true" class="fa fa-users"></span>
                                                            0

                                                        </div>
                                                        <div class="font-grey-mint font-sm">12-18 años</div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <div class="font-grey-mint font-sm"> Adultos </div>
                                                        <div class="uppercase font-hg font-purple">
                                                            <span aria-hidden="true" class="fa fa-users"></span>
                                                            0
                                                        </div>
                                                        <div class="font-grey-mint font-sm">mayores de 18 años</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Áreas de los principales rubros</span>
                                                    <span class="caption-helper"></span>

                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <form class="form-horizontal col-md-8 col-xs-12" action='.' method='GET'>
                                                        <div class="input-group">
                                                            <select name="departamento" class="form-control">
                                                                <option value="all">Todos</option>
                                                                {% for depto in deptos %}
                                                                    <option value="{{depto.id}}"
                                                                    {% if depto.id == dep %}selected="selected"{% endif %}>{{depto}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <div class="input-group-btn">
                                                                <button type="submit" class="btn btn-success">Consultar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="clearfix"></div>
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                {% for key in dic_anios.keys %}
                                                  <li class="nav-item {% if forloop.first %}active{% endif %}">
                                                    <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#grafica{{key.0}}" role="tab">{{key.1}}</a>
                                                  </li>
                                                {% endfor %}


                                                </ul>

                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                {% for key in dic_anios.keys  %}
                                                    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="grafica{{key.0}}" role="tabpanel">
                                                        <div class="grafico-ind" id="container{{key.0}}" width='100%'></div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Miembros registrados por departamento</span>
                                                    <span class="caption-helper"></span>
                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="grafico-ind" id="deptos" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart font-dark hide"></i>
                                                    <span class="caption-subject font-green-steel bold uppercase">Principales rubros</span>
                                                    <span class="caption-helper"></span>

                                                </div>

                                            </div>
                                            <div class="portlet-body">
                                                <div class="row col-md-8 col-xs-12">
                                                    <form class="form-horizontal" action='.' method='GET'>
                                                        <div class="input-group">
                                                            <select name="departamento-rubros" class="form-control">
                                                                <option value="all">Todos</option>
                                                                {% for depto in deptos %}
                                                                    <option value="{{depto.id}}"
                                                                    {% if depto.id == dep2 %}selected="selected"{% endif %}>{{depto}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <div class="input-group-btn">
                                                                <button type="submit" class="btn btn-success">Consultar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="clearfix"></div>
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                {% for key in dic_anios.keys %}
                                                  <li class="nav-item {% if forloop.first %}active{% endif %}">
                                                    <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#rubros{{key.0}}" role="tab">{{key.1}}</a>
                                                  </li>
                                                {% endfor %}

                                                </ul>

                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                {% for key in dic_anios.keys  %}
                                                    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="rubros{{key.0}}" role="tabpanel">
                                                        <div class="grafico-ind" id="container-2{{key.0}}" width='100%'></div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqZIKGS4tX1I2OrDtuCN-wSPVaPLS9UjU" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/markerclusterer.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script>


    var markers = [];
    function initialize()
    {
        var infowindow = new google.maps.InfoWindow();
        var myLatlng = new google.maps.LatLng(13,-85);
        var myOptions = {
            zoom: 7,
            center: myLatlng,
        }

        var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();


        $.getJSON("{% url 'obtener-lista' %}", function(data){
            $.each(data, function(i, elemento){
                var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                bounds.extend(latlng);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: elemento.nombre,
                    // icon: image,
                    item: '',
                    id: elemento.id
                });
                markers.push(marker);

                // google.maps.event.addListener(marker, 'click', (function(mm, tt) {
                //     return function() {
                //         infowindow.setContent(tt);
                //         infowindow.open(map, mm);
                //     }
                // })(marker, elemento.nombre));

            });
            var markerCluster = new MarkerClusterer(map, markers);

        });

        //map.fitBounds(bounds);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".hor-menu ul li.inicio" ).addClass( "active" );
</script>

<script type="text/javascript">
Highcharts.setOptions({
    lang: {
        thousandsSep: ','
    }
});
{% for key,value in dic_anios.items %}

Highcharts.chart('container{{key.0}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: 'Click en las columnas para ver el detalle del sexo (%).'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Mz'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.2f}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:,.2f} mz</b> del total<br/>'
    },

    "series": [
        {
            "name": "Áreas",
            "colorByPoint": true,
            "data": [
            {% for k,v in value.0.items %}
            {
                    "name": "{{k}} ({{v.1|intcomma}})",
                    "y": {{v.0}},
                    "drilldown": "{{k}}"
            },

            {% endfor %}
            ]
        }
    ],
    "drilldown": {
        "series": [
        {% for k,v in value.0.items %}
            {
                "name": "{{k}}",
                "id": "{{k}}",
                "data": [
                    [
                        "Hombres ({{v.3}}%)",
                        {{v.2}}
                    ],
                    [
                        "Mujeres ({{v.5}}%)",
                        {{v.4}}
                    ],
                ],
            },
        {% endfor %}
        ],

    }
});

Highcharts.chart('container-2{{key.0}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Áreas',]
    },
    yAxis: {
        title: {
            text: 'Producción'
        }
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:,.2f}'
            }
        }
    },
    series: [

        {% for k,v in value.1.items %}

        {
            name: '{{k}} ({{v.0|intcomma}} mz) ({{v.2}} productores)',
            data: [{{v.1|floatformat:"2"}},],
        },
        {% endfor %}

    ],
});
{% endfor %}

Highcharts.chart('deptos', {
    chart: {
        type: 'pie'
    },
    title: {
        text: ''
    },
    subtitle: {
        text: 'Click en los departamentos para ver detalle'
    },

    plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                format: '{point.name}: {point.y}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
    },
    series: [{
        name: 'Departamentos',
        colorByPoint: true,
        data: [
        {% for k,v in dic_deptos.items %}
            {
                name: '{{k}}',
                y: {{v.0}},
                drilldown: '{{k}}'
            },
        {% endfor %}
         ]
    }],
    drilldown: {
        series: [
        {% for k,v in dic_deptos.items %}
            {
            name: '{{k}}',
            id: '{{k}}',
            data: [
            {% for x in v.1 %}
                ['{{x.0}}', {{x.1}}],
            {% endfor %}
            ]
        },
        {% endfor %}
        ]
    }
});
</script>
{% endblock extra_js %}


