{% extends "base.html" %}

{% block menu_app %}{% endblock menu_app %}
   
{% block content %}
<style>
  a.disabled {
  pointer-events: none;
  cursor: default;
}
</style>
<div class="page-wrapper-row full-height">
	<div class="page-wrapper-middle">
		<div class="page-container">
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <span class="caption-subject font-green-steel bold uppercase">Línea Base Productores</span>
                                        </div>
                                    </div>
                                        <div class="portlet-body">
                                            <img class="img-responsive center-block" height="auto" width="100" src="/static/img/principal/pic1.png" alt="productor">
                                            <p>El estado actual de las fincas y familias cacaoteras, basado en recolección de datos e indicadores propuestos.</p>
                                            <a class="btn btn-success" href="/panel/linea-base/">Ver Dashboard</a>
                                            <a class="btn btn-success" href="/consulta/">Ir a Consultar</a>
                                        </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <span class="caption-subject font-green-steel bold uppercase">Evaluación anual de las parcelas</span>
                                        </div>
                                    </div>
                                        <div class="portlet-body">
                                            <img class="img-responsive center-block" height="auto" width="100" src="/static/img/principal/pic2.png" alt="productor">
                                            <p>Seguimiento anual de las mejoras de sistemas SAF Cacao y análisis de rentabilidad de los rubros de las parcelas SAF.</p>
                                            <a class="btn btn-success" href="/cierre/panel/">Ver Dashboard</a>
                                            <a class="btn btn-success" href="/cierre/consulta-cierre">Ir a Consultar</a>
                                        </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <span class="caption-subject font-green-steel bold uppercase">Seguimiento trimestral de parcelas</span>
                                        </div>
                                    </div>
                                        <div class="portlet-body">
                                            <img class="img-responsive center-block" height="auto" width="100" src="/static/img/principal/pic3.png" alt="productor">
                                            <p>Seguimiento trimestral de las acciones para mejorar el manejo de sistemas SAF Cacao y la producción de las parcelas SAF Cacao.</p>
                                            <a class="btn btn-success" href="/visita/panel/">Ver Dashboard</a>
                                            <a class="btn btn-success" href="/visita/consulta-visitas/">Ir a Consultar</a>
                                        </div>
                                    
                                </div>
                            </div>
						</div>
						<div class="row">
							
                            <div class="col-md-4 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <span class="caption-subject font-green-steel bold uppercase">Evaluación anual de Cooperativas</span>
                                        </div>
                                    </div>
                                        <div class="portlet-body">
                                            <img class="img-responsive center-block" height="auto" width="100" src="/static/img/principal/pic4.png" alt="productor">
                                            <p>Estado actual de las Cooperativas basado en recolección de datos anuales y estimación de indicadores propuestos.</p>
                                            <a class="btn btn-success disabled" href="">Ver Dashboard</a>
                                            <a class="btn btn-success disabled" href="">Ir a Consultar</a>
                                        </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <span class="caption-subject font-green-steel bold uppercase">Seguimiento mensual de Cooperativas</span>
                                        </div>
                                    </div>
                                        <div class="portlet-body">
                                            <img class="img-responsive center-block" height="auto" width="100" src="/static/img/principal/pic5.png" alt="productor">
                                            <p>Estado actual de las Cooperativas basado en recolección de datos mensuales y estimación de indicadores propuestos.</p>
                                            <a class="btn btn-success disabled" href="">Ver Dashboard</a>
                                            <a class="btn btn-success disabled" href="">Ir a Consultar</a>
                                        </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <span class="caption-subject font-green-steel bold uppercase">SEGUIMIENTO MENSUAL FINANCIERO DE COOPERATIVAS</span>
                                        </div>
                                    </div>
                                        <div class="portlet-body">
                                            <img class="img-responsive img-circle center-block" height="auto" width="100" src="/static/img/principal/pic6.jpg" alt="productor">
                                            <p>Estado financiero de las Cooperativas basado en recolección de datos mensuales y estimación de indicadores propuestos.</p>
                                            <a class="btn btn-success disabled" href="">Ver Dashboard</a>
                                            <a class="btn btn-success disabled" href="">Ir a Consultar</a>
                                        </div>
                                    
                                </div>
                            </div>
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</div>	
	</div>
</div>
{% endblock content %}