{% extends "base.html" %}
{% load tools static %}

{% block menu_app %}
 {% include "menus/menu_visita.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.act_maderables" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.act_maderables" ).addClass( "active" );

    $('#myTab a[href="#home-1"]').tab('show');


{% for k,v in salida.items %}

// Build the chart
Highcharts.chart('grafo-{{k|slugify}}', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Actividades realizadas en Maderables durante el último trimestre'
    },
    xAxis: {
        categories: [{% for title in v.1.keys %}'{{title}}',{% endfor %}]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Totales'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [
    {
        name: 'No realizado',
        data: [{%for value in v.1.values %} {{value.0}}, {%endfor%}]
    }, {
        name: 'Realizado en forma Mala',
        data: [{%for value in v.1.values %} {{value.1}}, {%endfor%}]
    }, {
        name: 'Realizado en forma Regular',
        data: [{%for value in v.1.values %} {{value.2}}, {%endfor%}]
    }, {
        name: 'Realizado en forma Buena',
        data: [{%for value in v.1.values %} {{value.3}}, {%endfor%}]
    }, {
        name: 'Planificada para próximo trimestrea',
        data: [{%for value in v.1.values %} {{value.4}}, {%endfor%}]
    }
    ]
});

{% endfor %}



</script>
{% endblock extra_js %}

{% block content %}
<style>
    .nav-tabs>li.nav-item>a {
        background: #cacaca;
        color: white;
        font-weight: bold;
    }
    .nav-tabs>li.active>a.active {
        background: transparent;
        color: #000;
        border-bottom-color: #42bb48;
    }
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "visitas/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for k in salida.keys %}
                                  <li class="nav-item">
                                    <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="true">{{k}}</a>
                                  </li>  
                                {% endfor %}
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                {% for k,v in salida.items %}
                                  <div class="tab-pane fade {% if forloop.counter == 1 %}active{% endif %}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                        <ul class="list-inline mb-20">
                                            <li class="list-inline-item"><strong>Número de familias: </strong> <kbd>{{v.0}}</kbd></li>
                                            
                                        </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div id="grafo-{{k|slugify}}"></div>
                                    </div>
                                    <br>
                                    </div>
                                {% endfor %}
                                </div>
                                
                                </div>

                            </div>
                        </div>
                        
                        
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
