{% extends "base.html" %}
{% load tools static %}

{% block menu_app %}
 {% include "menus/menu_visita.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.arboles" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.arboles" ).addClass( "active" );

    $('#myTab a[href="#home-1"]').tab('show');

</script>
{% endblock extra_js %}

{% block content %}
<style>
    .nav-tabs>li.nav-item>a {
        background: #cacaca;
        color: white;
        font-weight: bold;
    }
    .nav-tabs>li.active>a.active {
        background: transparent;
        color: #000;
        border-bottom-color: #42bb48;
    }
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "visitas/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for k in salida.keys %}
                                  <li class="nav-item">
                                    <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="true">{{k}}</a>
                                  </li>  
                                {% endfor %}
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                {% for k,v in salida.items %}
                                  <div class="tab-pane fade {% if forloop.counter == 1 %}active{% endif %}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                        <ul class="list-inline mb-20">
                                            <li class="list-inline-item"><strong>Número de familias: </strong> <kbd>
                                            {% for a,b in otra_salida.items %}
                                                {% if k == a %}
                                                    {{b.0}}
                                                {% endif %}
                                            {% endfor %}
                                            </kbd></li>
                                            
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="portlet box green">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-list"></i>Estado de arboles de servicios
                                                    </div>
                                                    <div class="actions">
                                                        <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                            <i class="icon-cloud-download"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                    <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Número de plantas observadas</th>
                                                                <th>Especies</th>
                                                                <th>Promedio Altura en Mts</th>
                                                                <th>Mediana Altura en Mts</th>
                                                                <th>% Plantas con daño de plagas</th>
                                                                <th>% Plantas con daño de enfermedades</th>
                                                                <th>% Plantas con deficiencia nutricional</th>
                                                                <th>% Plantas con buen crecimiento</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for key,value in v.items %}
                                                            <tr>
                                                                <td>{{value.0}}</td>
                                                                <td>{{key}}</td>
                                                                <td>{{value.1|floatformat:1}}</td>
                                                                <td>{{value.2|floatformat:1}}</td>
                                                                <td>{{value.3|floatformat:1}}</td>
                                                                <td>{{value.4|floatformat:1}}</td>
                                                                <td>{{value.5|floatformat:1}}</td>
                                                                <td>{{value.6|floatformat:1}}</td>
                                                            </tr>   
                                                            {% endfor %}
                                                            
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    </div>
                                {% endfor %}
                                </div>
                                
                                </div>

                            </div>
                        </div>
                        
                        
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
