
<ul class="list-inline list-filtro">
    {% if request.session.fecha %}
        <li>
            <i class="fa fa-calendar"></i>
            {% if request.session.fecha == '1' %}
                <b>Fecha:</b> 2020-21
            {% elif request.session.fecha == '2' %}
                <b>Fecha:</b> 2021-22
            {% elif request.session.fecha == '3' %}
                <b>Fecha:</b> 2022-23
            {% elif request.session.fecha == '4' %}
                <b>Fecha:</b> 2023-24
            {% elif request.session.fecha == '5' %}
                <b>Fecha:</b> 2024-25
            {% endif %}
        </li>
    {% endif %}
    {% if request.session.sexo %}
        <li>
            <i class="fa fa-venus-mars"></i>
            {% if request.session.sexo == '1' %}
                <b>Sexo:</b> Mujeres
            {% elif request.session.sexo == '2' %}
                <b>Sexo:</b> Hombres
            {% endif %}
        </li>
    {% else %}
    <li>
        <i class="fa fa-venus-mars"></i>
        <b>Sexo:</b> Ambos
    </li>
    {% endif %}
    {% if request.session.departamento %}
        <li>
            <i class="fa fa-map-marker"></i>
            <b>Departamentos:</b>{{request.session.departamento}}
        </li>
    {% endif %}
    {% if request.session.municipio %}
        <li>
            <i class="fa fa-map-marker"></i>
            <b>Municipios:</b> {{request.session.municipio}}
        </li>
    {% endif %}
    {% if request.session.comunidad %}
        <li>
            <i class="fa fa-map-marker"></i>
            <b>Comunidades:</b> {{request.session.comunidad }}
        </li>
    {% endif %}
    {% if request.session.cooperativa %}
        <li>
            <i class="fa fa-map-marker"></i>
            <b>Cooperativa:</b> {{request.session.cooperativa }}
        </li>
    {% endif %}
    {% if request.session.productor %}
        <li>
            <i class="fa fa-users"></i>
            <b>Entrevistado:</b> {{request.session.productor }}
        </li>
    {% endif %}
    {% if request.session.tecnico %}
        <li>
            <i class="fa fa-user"></i>
            <b>Técnico:</b> {{request.session.tecnico }}
        </li>
    {% endif %}
    {% if request.session.parcela %}
        <li>
            <i class="fa fa-user"></i>
            <b>Parcelas:</b> {{request.session.parcela }}
        </li>
    {% endif %}
        <li>
            <i class="fa fa-filter"></i>
            <b>Familias:</b> {{num_familias}}
        </li>
</ul>