
<div class="portlet-title tabbable-line">

    <ul class="nav nav-tabs ind-link">
        <li class="inventario general">
            <a href="/visita/inventario_saf/">Inventario</a>
        </li>
        <li class="plantas">
            <a href="/visita/estado_plantas/">Estado plantas</a>
        </li>
        <li class="plagas">
            <a href="/visita/plagas_enfermedades/">Plagas y enfermedades</a>
        </li>
        <li class="estimacion">
            <a href="/visita/estimacion_cosecha/">Estimación cosecha</a>
        </li>
        <li class="musaceas">
            <a href="/visita/estado_musaceas/">Estado musaceas</a>
        </li>
        <li class="frutales">
            <a href="/visita/estado_frutales/">Estado frutales</a>
        </li>
        <li class="maderables">
            <a href="/visita/estado_maderables/">Estado maderables</a>
        </li>
        <li class="arboles">
            <a href="/visita/estado_arboles/">Estado arboles</a>
        </li>
        <li class="piso_cacaotal">
            <a href="/visita/piso_cacaotal/">Piso Cacaotal</a>
        </li>
        <li class="act_cacao">
            <a href="/visita/actividades_cacao/">Actividades Cacao</a>
        </li>
        <li class="act_musaceas">
            <a href="/visita/actividades_musaceas/">Actividades Musáceas</a>
        </li>
        <li class="act_frutales">
            <a href="/visita/actividades_frutales/">Actividades Frutales</a>
        </li>
        <li class="act_maderables">
            <a href="/visita/actividades_madera/">Actividades Maderables</a>
        </li>
        <li class="act_arboles">
            <a href="/visita/actividades_arboles/">Actividades A. Servicios</a>
        </li>
        <li class="cosecha_parcela">
            <a href="/visita/visita_cosecha/">Cosecha parcela</a>
        </li>
        <li class="cosecha_finca">
            <a href="/visita/visita_cosecha_finca/">Cosecha finca</a>
        </li>
        <li class="inversiones">
            <a href="/visita/inversiones/">Inversiones en la finca</a>
        </li>
        
    </ul>
</div>
