{% extends "base.html" %}
{% load tools static %}

{% block menu_app %}
 {% include "menus/menu_visita.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.inventario" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.inventario" ).addClass( "active" );

    $('#myTab a[href="#home-1"]').tab('show');


{% for k,v in salida.items %}

// Build the chart
Highcharts.chart('grafo-{{k|slugify}}', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Suma de área en Desarrollo, Producción y Desarrollo-Producción'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Porcentaje',
        colorByPoint: true,
        data: [
        {
            name: 'Desarrollo ({{v.9|default:0}} Mz)',
            y: {{v.9|default:0}},
            sliced: true,
            selected: true
        }, {
            name: 'Producción ({{v.10|default:0}} Mz)',
            y: {{v.10|default:0}}
        }, {
            name: 'Desarrollo-Producción ({{v.11|default:0}} Mz)',
            y: {{v.11|default:0}}
        }]
    }]
});


// Create the chart
Highcharts.chart('grafo1-{{k|slugify}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sumas de áreas por edad'
    },
    subtitle: {
        text: ''
    },
    accessibility: {
        announceNewData: {
            enabled: true
        }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'áreas'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}Mz'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [
        {
            name: "Áreas",
            colorByPoint: true,
            data: [
            {% for key,value in v.12.items %}
                {
                    name: "{{key}}",
                    y: {{value|default:0}},
                    
                },
            {% endfor %}
                
            ]
        }
    ],
 
});

Highcharts.chart('grafo2-{{k|slugify}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sumas de áreas por porcentaje de sombra'
    },
    subtitle: {
        text: ''
    },
    accessibility: {
        announceNewData: {
            enabled: true
        }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'áreas'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}Mz'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [
        {
            name: "Áreas",
            colorByPoint: true,
            data: [
            {% for key,value in v.13.items %}
                {
                    name: "{{key}}",
                    y: {{value|default:0}},
                    
                },
            {% endfor %}
                
            ]
        }
    ],
 
});

{% endfor %}



</script>
{% endblock extra_js %}

{% block content %}
<style>
    .nav-tabs>li.nav-item>a {
        background: #cacaca;
        color: white;
        font-weight: bold;
    }
    .nav-tabs>li.active>a.active {
        background: transparent;
        color: #000;
        border-bottom-color: #42bb48;
    }
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "visitas/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for k in salida.keys %}
                                  <li class="nav-item">
                                    <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="true">{{k}}</a>
                                  </li>  
                                {% endfor %}
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                {% for k,v in salida.items %}
                                  <div class="tab-pane fade {% if forloop.counter == 1 %}active{% endif %}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                        <ul class="list-inline mb-20">
                                            <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{v.8}}</kbd></li>
                                            
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="portlet box green">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-list"></i>Inventario de las parcelas SAF Cacao
                                                    </div>
                                                    <div class="actions">
                                                        <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                            <i class="icon-cloud-download"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                    <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Área total en MZ</th>
                                                                <th>Área promedio en Mz</th>
                                                                <th>Promedio # de plantas híbridas de cacao/Mz </th>
                                                                <th>Promedio # de plantas injertadas de cacao/Mz</th>
                                                                <th>Promedio # Musáceas/Mz</th>
                                                                <th>Promedio # Frutales/Mz</th>
                                                                <th>Promedio # Maderables/Mz</th>
                                                                <th>Promedio # árboles de servicio/Mz</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{v.0|floatformat:1}}</td>
                                                                <td>{{v.1|floatformat:1}}</td>
                                                                <td>{{v.2|floatformat:1}}</td>
                                                                <td>{{v.3|floatformat:1}}</td>
                                                                <td>{{v.4|floatformat:1}}</td>
                                                                <td>{{v.5|floatformat:1}}</td>
                                                                <td>{{v.6|floatformat:1}}</td>
                                                                <td>{{v.7|floatformat:1}}</td>
                                                            </tr>                                        
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="grafo-{{k|slugify}}"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div id="grafo1-{{k|slugify}}"></div>   
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div id="grafo2-{{k|slugify}}"></div>   
                                    </div>
                                    </div>
                                {% endfor %}
                                </div>
                                
                                </div>

                            </div>
                        </div>
                        
                        
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
