{% extends "base.html" %}
{% load tools static %}

{% block menu_app %}
 {% include "menus/menu_visita.html" %}
{% endblock menu_app %}

{% block extra_js %}
<script type="text/javascript">
    $( ".hor-menu ul li" ).removeClass( "active" );
    $( ".ind-link li" ).removeClass( "active" );
    $( ".ind-link li.piso_cacaotal" ).addClass( "active" );
    $( ".theme-colors li" ).removeClass( "active" );
    $( ".theme-colors li.piso_cacaotal" ).addClass( "active" );

    $('#myTab a[href="#home-1"]').tab('show');

</script>

<script type="text/javascript">
{% for v in salida.values %}
var elems = document.getElementsByClassName('valorBadge{{forloop.counter}}');
var arr = jQuery.makeArray( elems );
var otro1 = arr.slice(0,6);
var sum1 = 0;
    for (var i = 0;i < otro1.length; i++) {
    sum1 += parseFloat(otro1[i].innerHTML, 10);
    }
document.getElementById('totalBadge1{{forloop.counter}}').innerHTML = sum1.toFixed(2);

var otro2 = arr.slice(6,10);
var sum2 = 0;
    for (var i = 0;i < otro2.length; i++) {
    sum2 += parseFloat(otro2[i].innerHTML, 10);
    }
document.getElementById('totalBadge2{{forloop.counter}}').innerHTML = sum2.toFixed(2);


var otro3 = arr.slice(-1);
var sum3 = parseFloat(otro3[0].innerHTML, 10);
document.getElementById('totalBadge3{{forloop.counter}}').innerHTML = sum3;


$(function () {
    // Create the chart
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Composición'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Cobertura (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in value.1.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:value.2}},
                },
            {% endfor %}

            ]
        }]
    });
});
{% endfor %}
</script>



{% endblock extra_js %}

{% block content %}
<style>
    .nav-tabs>li.nav-item>a {
        background: #cacaca;
        color: white;
        font-weight: bold;
    }
    .nav-tabs>li.active>a.active {
        background: transparent;
        color: #000;
        border-bottom-color: #42bb48;
    }
</style>
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head">
                    <div class="titulo-page">
                        <div class="container">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">

                            </div>
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar hidden-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadores.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <div class="page-toolbar visible-xs">
                                <!-- BEGIN THEME PANEL -->
                                {% include "visitas/indicadoresxm.html" %}
                                <!-- END THEME PANEL -->

                            </div>
                            <!-- END PAGE TOOLBAR -->

                        </div>
                    </div>
                    <div class="filtros">
                        <div class="container">
                                {% include "visitas/filtros.html" %}
                        </div>
                    </div>

                </div>
                <div class="page-content">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">

                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% for k in salida.keys %}
                                  <li class="nav-item">
                                    <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="true">{{k}}</a>
                                  </li>  
                                {% endfor %}
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                {% for k,v in salida.items %}
                                  <div class="tab-pane fade {% if forloop.counter == 1 %}active{% endif %}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                        <ul class="list-inline mb-20">
                                            <li class="list-inline-item"><strong>Número de familias: </strong> <kbd>
                                            {{v.0}}
                                            </kbd></li>
                                            
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="portlet box green">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-list"></i>Composición y competencia de piso de cacaotal
                                                    </div>
                                                    <div class="actions">
                                                        <a class="btn btn-circle btn-icon-only btn-default" href="" onclick="exportarXLS('export'); return false;">
                                                            <i class="icon-cloud-download"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="portlet-body flip-scroll my-custom-scrollbar" id="export">
                                                    <table class="table table-bordered table-striped table-condensed flip-content" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Composición</th>
                                                                <th>Conteo</th>
                                                                <th>Porcentaje(%)</th>
                                                                <th>Total (%)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for key,value in v.1.items %}
                                                        <tr>
                                                            <th scope=row>{{key}}</th>
                                                            <td>{{value|default:0}}</td>
                                                            <td class="valorBadge{{forloop.parentloop.counter}}">{{value|default:0|calcular_frecuencia:v.2}}</td>
                                                            {% if forloop.first%}
                                                                <td class="totalBadge" rowspan="6"><div id="totalBadge1{{forloop.parentloop.counter}}"></div></td>
                                                            {% elif forloop.counter == 7 %}
                                                                <td rowspan="4"><div id="totalBadge2{{forloop.parentloop.counter}}"></div></td>
                                                            {% elif forloop.last %}
                                                                <td rowspan="0"><div id="totalBadge3{{forloop.parentloop.counter}}"></div></td>
                                                            {% endif %}
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    </div>
                                {% endfor %}
                                </div>
                                
                                </div>

                            </div>
                        </div>
                        
                        
                       
                    </div>
                    
                </div>
                
            </div>
            
        </div>  
    </div>
</div>

{% endblock content %}
